<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">


          <div class="card-body">
            <div class="row mb-3 mt-3">
              <div class="col-6">

                <h4 class="card-description">Offer Letter</h4>
              </div>

            </div>
            <!-- Table DIV Starts here -->
            <div id="tablediv" *ngIf="show">


              <!-- Heading add designation button -->
              <div class="row mb-3 mt-3">

                <div class="col-6 offset-6" style="text-align: right;">

                  <button type="button" class="btn btn-primary btn-fw" (click)="toggleShow()">Generate New</button>

                </div>
              </div>
              <!-- Designation Data Table -->

              <div class="table-responsive mb-4">
                <table class="table" style="text-align:center">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Name</th>
                      <th>Designation level</th>
                      <th>Date of Offer Letter</th>
                      <th>Days</th>
                      <th>Contact No</th>
                      <th>Email Id </th>
                      <th>Location </th>
                      <th>Offered CTC </th>
                      <th>Status </th>
                      <th>Accepatance Date </th>
                      <th>Action</th>
                      <th>Pending Days</th>
                      <th>Remark</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ravindra Pawar</td>
                      <td>Developer</td>
                      <td>16 Oct 2018</td>
                      <td>5</td>
                      <td>9552625614</td>
                      <td>pawarravindra49@gmailc.om</td>
                      <td>Pune</td>
                      <td>250000</td>
                      <td>
                        <select style="width:110px;" class="form-control">
                          <option>Accepted</option>
                          <option>Rejected</option>
                        </select>
                      </td>
                      <td>14 Oct 2018</td>
                      <td>
                        <span class="mdi mdi-eye mdi-16px mr-2" style="cursor: pointer;"></span> 
                        <span class="mdi mdi-lead-pencil mdi-16px mr-2" style="cursor: pointer;"></span>
                        <span class="mdi mdi-delete mdi-16px" style="cursor: pointer;"></span>
                      </td>
                      <td>13</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ravindra Pawar</td>
                        <td>Developer</td>
                        <td>16 Oct 2018</td>
                        <td>5</td>
                        <td>9552625614</td>
                        <td>pawarravindra49@gmailc.om</td>
                        <td>Pune</td>
                        <td>250000</td>
                        <td>
                          <select style="width:110px;" class="form-control">
                            <option>Accepted</option>
                            <option>Rejected</option>
                          </select>
                        </td>
                        <td>14 Oct 2018</td>
                        <td>
                          <span class="mdi mdi-eye mdi-16px mr-2" style="cursor: pointer;"></span> 
                          <span class="mdi mdi-lead-pencil mdi-16px mr-2" style="cursor: pointer;"></span>
                          <span class="mdi mdi-delete mdi-16px" style="cursor: pointer;"></span>
                        </td>
                        <td>13</td>
                        <td></td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Ravindra Pawar</td>
                          <td>Developer</td>
                          <td>16 Oct 2018</td>
                          <td>5</td>
                          <td>9552625614</td>
                          <td>pawarravindra49@gmailc.om</td>
                          <td>Pune</td>
                          <td>250000</td>
                          <td>
                            <select style="width:110px;" class="form-control">
                              <option>Accepted</option>
                              <option>Rejected</option>
                            </select>
                          </td>
                          <td>14 Oct 2018</td>
                          <td>
                            <span class="mdi mdi-eye mdi-16px mr-2" style="cursor: pointer;"></span> 
                            <span class="mdi mdi-lead-pencil mdi-16px mr-2" style="cursor: pointer;"></span>
                            <span class="mdi mdi-delete mdi-16px" style="cursor: pointer;"></span>
                          </td>
                          <td>13</td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ravindra Pawar</td>
                            <td>Developer</td>
                            <td>16 Oct 2018</td>
                            <td>5</td>
                            <td>9552625614</td>
                            <td>pawarravindra49@gmailc.om</td>
                            <td>Pune</td>
                            <td>250000</td>
                            <td>
                              <select style="width:110px;" class="form-control">
                                <option>Accepted</option>
                                <option>Rejected</option>
                              </select>
                            </td>
                            <td>14 Oct 2018</td>
                            <td>
                              <span class="mdi mdi-eye mdi-16px mr-2" style="cursor: pointer;"></span> 
                              <span class="mdi mdi-lead-pencil mdi-16px mr-2" style="cursor: pointer;"></span>
                              <span class="mdi mdi-delete mdi-16px" style="cursor: pointer;"></span>
                            </td>
                            <td>13</td>
                            <td></td>
                          </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table DIV ends HERE -->
            </div>


            <div id="contentDiv" *ngIf="!show">


              <form class="forms-sample">

                <div class="form-group row">
                  <!-- name row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">

                        <label for="exampleInputName" class=" col-form-label">Name</label>
                      </div>
                      <div class="col-8">

                        <input type="text" class="form-control" id="txtName" placeholder="Name">
                      </div>

                    </div>
                  </div>
                  <!-- Date row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">

                        <label for="exampleInputDate" class=" col-form-label">Date</label>
                      </div>
                      <div class="col-8">

                        <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>

                      </div>

                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <!-- Role row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputRole" class=" col-form-label">Designation</label>
                      </div>
                      <div class="col-8">
                        <select class="form-control">
                          <option>Manager</option>
                          <option>Lead</option>
                          <option>HR</option>

                        </select>
                      </div>

                    </div>
                  </div>
                  <!-- Offered CTC -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">

                        <label for="exampleInputCTC" class=" col-form-label">CTC Offered</label>
                      </div>
                      <div class="col-8">

                        <input type="text" class="form-control" id="txtCTC" placeholder="CTC">
                      </div>

                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <!-- Hierarchy level -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputContactNo" class=" col-form-label">Contact No.</label>
                      </div>
                      <div class="col-8">

                        <input type="text" class="form-control" id="txtContactNo" placeholder="Contact No.">
                      </div>

                    </div>
                  </div>

                  <!-- Profile -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputProfile" class=" col-form-label">Profile</label>
                      </div>
                      <div class="col-8">
                        <textarea class="form-control" id="txtAreaProfile" rows="2"></textarea>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <!-- Jb Location Row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputDepartment" class=" col-form-label">Job Location</label>
                      </div>
                      <div class="col-8">
                        <select class="form-control">
                          <option>Pune</option>
                          <option>Mumbai</option>
                          <option>Kolkata</option>
                          <option>Chennai</option>

                        </select>
                      </div>

                    </div>
                  </div>
                  <!-- Joining Date Row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputJoiningDate" class=" col-form-label">Joining Date</label>
                      </div>
                      <div class="col-8">

                        <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="form-group row">



                  <!-- Residential Address Row -->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                        <label for="exampleInputAddresst" class=" col-form-label">Residential Address</label>
                      </div>
                      <div class="col-8">
                        <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
                      </div>

                    </div>
                  </div>


                </div>

                <!-- Is your Permenent Address -->
                <div class="form-group row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-4">
                        <label class="col-form-label">Is it your Permanent Address</label>
                      </div>
                      <div class="col-2">
                        <div class="form-radio">
                          <label class="form-check-label">
                            <input checked="salaryRadio" [(ngModel)]="salaryRadio" class="form-check-input" id="rdYes"
                              name="salaryRadio" type="radio" value="false"> Yes <i class="input-helper"></i>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-radio">
                          <label class="form-check-label">
                            <input checked="!salaryRadio" [(ngModel)]="salaryRadio" class="form-check-input" id="rdNo"
                              name="salaryRadio" type="radio" value="true"> No <i class="input-helper"
                              data-toggle="modal" data-target="#addnote"></i>
                          </label>
                          <!-- Modal -->
                          <div class="modal fade" id="addnote" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Permanent Address</h5> <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-10"> <textarea rows="4" style="color: black" class="form-control"
                                        aria-describedby="note" placeholder="Enter Permanent Address" name="note"
                                        [(ngModel)]='note'></textarea>
                                    </div>
                                    <div class="col-md-2"> <button type="button" class="add-note-btn" data-dismiss="modal"
                                        (click)='pushtolist()' style="margin-top:25px;background-color: #5669a5;color: white;border: none;cursor: pointer;">
                                        Add</button> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




                <!-- Buttons row -->
                <div class="row">
                  <div class="col-6 offset-6" style="text-align: right">
                    <button class="btn btn-primary btn-fw ml-3" type="button">Send for Approval</button>
                    
                    <button class="btn btn-primary btn-fw ml-3" type="button">Save</button>

                    <button class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                  </div>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>