<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
              <!-- Title -->
                <div class="row mb-3 mt-3">
                    <div class="col-6">
  
                      <h4 class="card-description">Leaves And Holidays Master</h4>
                    </div>
                   
                  </div>

                  <ul class="nav nav-tabs " style="font-size: 14px;">
                      <li class="nav-item">
                        <a class="nav-link active" href="#leavemaster" data-toggle="tab">Leave Master</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#holidaymaster" data-toggle="tab">Holiday Master</a>
                      </li>
                     
                  </ul>

                  <div class="tab-content">
                     <!-- Leave Master -->
                      <div class="tab-pane active mt-3" id="leavemaster">
                        <!-- Table DIV Starts here -->
                                  <div id="tablediv">


                                      <form class="forms-sample">
                                          <!-- Earned Leaves Credit per month -->
                                              <div class="form-group row">
                                              
                                                <div class="col-md-12">

                                                      <label for="exampleInputDesigNoofEmployees" class=" col-form-label"><h6>Earned Leaves Credit Per Month</h6></label>
                                                  
                                                </div>
                                                
                                            
                                              </div>
                                            <!-- Probation Employee -->
                                            <div class="form-group row">
                                                
                                                <div class="col-md-6">
                                                  <div class="row">
                                                    <div class="col-3 offset-1">
                                                        <label for="exampleInputProbation" class=" col-form-label">Probation</label>
                                                    </div>
                                                    <div class="col-8">
                                                        
                                                        <input type="text" class="form-control" id="txtProbation" placeholder="Probation">
                                                    </div>
                            
                                                  </div>
                                                </div>
                                                
                                            </div>
                                              <!-- Confirmed Employee -->
                                              <div class="form-group row">
                                                
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-3 offset-1">
                                                          <label for="exampleInputConfirmed" class=" col-form-label">Confirmed</label>
                                                      </div>
                                                    
                              
                                                    </div>
                                                  </div>
                                                  
                                              </div>

                                              <!-- Designation 1 -->
                                              <div class="form-group row">
                                                
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-3 offset-2">
                                                          <label for="exampleInputDesignation1" class=" col-form-label">Designation 1</label>
                                                      </div>
                                                      <div class="col-7">
                                                          
                                                          <input type="text" class="form-control" id="txtDesignation1" placeholder="Designation 1">
                                                      
                                                        </div>
                              
                                                    </div>
                                                  </div>
                                                  
                                              </div>
                                              <!-- Dsignation 2 -->
                                              <div class="form-group row">
                                                
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-3 offset-2">
                                                          <label for="exampleInputDesignation2" class=" col-form-label">Designation 2</label>
                                                      </div>
                                                      <div class="col-7">
                                                          
                                                          <input type="text" class="form-control" id="txtDesignation2" placeholder="Designation 2">
                                                      </div>
                              
                                                    </div>
                                                  </div>
                                                  
                                              </div>
                                              <!--Add Designation Button-->
                                              <div class="form-group row">
                                                
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-3 offset-2 ">
                                                          <button class="btn btn-primary btn-fw" type="button" >Add +</button>
                                                      </div>
                                                    
                                                    </div>
                                                  </div>
                                                  
                                              </div>
                                              <!-- Faternity Leaves -->
                                              <div class="form-group row">
                                              
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-md-4">
                                                              
                                                        <label for="exampleInputDesigNoofEmployees" class=" col-form-label">Faternity Leaves</label>
                                                    
                                                      </div>
                                                      <div class="col-md-8">
                                                            
                                                          <input type="text" class="form-control" id="txtDesignation1" placeholder="Designation 1">
                                                      
                                                      </div>

                                                    </div>
                                                  </div>
                                                  
                                              
                                                </div>

                                                <!-- Other Leaves -->
                                              <div class="form-group row">
                                              
                                                  <div class="col-md-6">
                                                    <div class="row">
                                                      <div class="col-md-4">
                                                              
                                                        <label for="exampleInputOtherLeaves" class=" col-form-label">Other Leaves</label>
                                                    
                                                      </div>
                                                      <div class="col-md-8">
                                                            
                                                          <input type="text" class="form-control" id="txtOtherLeaves" placeholder="OtherLeaves">
                                                      
                                                      </div>

                                                    </div>
                                                  </div>
                                                  
                                              
                                                </div>
                                              
                                        </form>

                                          <!-- Table -->
                                          <div class="table-responsive mb-4">
                                              <table class="table" style="text-align:center">
                                                <thead>
                                                  <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Date</th>
                                                    <th>Day</th>
                                                    <th>Holiday</th>
                                                    <th>State </th>
                                                    <th>Location </th>
                                                
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>1</td>
                                                    <td>12 June 1994</td>
                                                    <td>Monday</td>
                                                    <td>Diwali</td>
                                                    <td>Maharashra</td>
                                                    <td>Pune</td>
                                                   
                                                  </tr>
                                                  <tr>
                                                      <td>1</td>
                                                      <td>12 June 1994</td>
                                                      <td>Monday</td>
                                                      <td>Diwali</td>
                                                      <td>Maharashra</td>
                                                      <td>Pune</td>
                                                     
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>12 June 1994</td>
                                                        <td>Monday</td>
                                                        <td>Diwali</td>
                                                        <td>Maharashra</td>
                                                        <td>Pune</td>
                                                       
                                                      </tr>
                                                      <tr>
                                                          <td>1</td>
                                                          <td>12 June 1994</td>
                                                          <td>Monday</td>
                                                          <td>Diwali</td>
                                                          <td>Maharashra</td>
                                                          <td>Pune</td>
                                                         
                                                        </tr>
                                                </tbody>
                                              </table>
                                            </div> 
                                        <!-- Table DIV ends HERE -->
                                  </div>

                      </div>
                      <!-- Holidays Master -->
                      <div class="tab-pane mt-3" id="holidaymaster">

                              
                      <!-- Table DIV Starts here -->
                      <div id="tablediv" *ngIf="show" >
                          <!-- No of Holidays -->
                          <div class="form-group row">
                                            
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputNoofHolidays" class=" col-form-label">No. of Holidays</label>
                                  </div>
                                  <div class="col-8">
            
                                      <input type="text" class="form-control" id="txtNoofHolidays" placeholder="No. of Holidays">
                                  </div>
            
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                   
                                    <div class="col" style="text-align: right">
            
                                        <button type="button" class="btn btn-primary btn-fw ml-3" data-toggle="modal" data-target="#addholiday">
                                            Add/Edit Holiday List</button>
                                        <!-- modal Starts -->
                                                <div class="modal fade" id="addholiday" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                      <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Add/ Edit Holiday List</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <!-- Modal Body -->
                                                        <div class="modal-body">
                                                          <!-- Add New Row Button -->
                                                          <div class="row">
                                                            <div class="col-md-12" style="text-align: left;">
                                                                <button type="button" class="btn btn-primary btn-fw" data-dismiss="modal" 
                                                                style="margin-top:5px;
                                                                border: none;cursor: pointer;">
                                                                Add New</button>
                                                            </div>
                                                 
                                                          </div>
                                                          <div id="tableDiv" class="mt-3">
                                                              <div class="table-responsive mb-4 ">
                                                                  <table class="table" style="text-align:center">
                                                                    <thead>
                                                                      <tr>
                                                                        <th>Sr. No.</th>
                                                                        <th>Date</th>
                                                                        <th>Day</th>
                                                                        <th>Holiday</th>
                                                                        <th>State </th>
                                                                        <th>Location </th>
                                                                    
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr>
                                                                        <td>1</td>
                                                                        <td>12 June 1994</td>
                                                                        <td>Monday</td>
                                                                        <td>Diwali</td>
                                                                        <td>Maharashra</td>
                                                                        <td>Pune</td>
                                                                       
                                                                      </tr>
                                                                      <tr>
                                                                          <td>1</td>
                                                                          <td>12 June 1994</td>
                                                                          <td>Monday</td>
                                                                          <td>Diwali</td>
                                                                          <td>Maharashra</td>
                                                                          <td>Pune</td>
                                                                         
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>12 June 1994</td>
                                                                            <td>Monday</td>
                                                                            <td>Diwali</td>
                                                                            <td>Maharashra</td>
                                                                            <td>Pune</td>
                                                                           
                                                                          </tr>
                                                                          <tr>
                                                                              <td>1</td>
                                                                              <td>12 June 1994</td>
                                                                              <td>Monday</td>
                                                                              <td>Diwali</td>
                                                                              <td>Maharashra</td>
                                                                              <td>Pune</td>
                                                                             
                                                                            </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </div> 
                                                          </div>
                                                          <!-- Close Butotn -->
                                                          <div class="row">
                                                              <div class="col-md-12" style="text-align: right;">
                                                                  <button type="button" class="btn btn-primary btn-fw" data-dismiss="modal" (click)='pushtolist()' 
                                                                  style="margin-top:5px;
                                                                  border: none;cursor: pointer;">
                                                                  Close</button>
                                                              </div>
                                                   
                                                            </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                        <!-- Momdal Ends Here -->
                                      </div>
            
                                  </div>
                                </div>
                              
                            </div>
            
                            <!-- Employee Data Table -->
                            
            
                            <div class="table-responsive mb-4">
                              <table class="table" style="text-align:center">
                                <thead>
                                  <tr>
                                    <th>Sr. No.</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Holiday</th>
                                    <th>State </th>
                                    <th>Location </th>
                                
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>12 June 1994</td>
                                    <td>Monday</td>
                                    <td>Diwali</td>
                                    <td>Maharashra</td>
                                    <td>Pune</td>
                                   
                                  </tr>
                                  <tr>
                                      <td>1</td>
                                      <td>12 June 1994</td>
                                      <td>Monday</td>
                                      <td>Diwali</td>
                                      <td>Maharashra</td>
                                      <td>Pune</td>
                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>12 June 1994</td>
                                        <td>Monday</td>
                                        <td>Diwali</td>
                                        <td>Maharashra</td>
                                        <td>Pune</td>
                                       
                                      </tr>
                                      <tr>
                                          <td>1</td>
                                          <td>12 June 1994</td>
                                          <td>Monday</td>
                                          <td>Diwali</td>
                                          <td>Maharashra</td>
                                          <td>Pune</td>
                                         
                                        </tr>
                                </tbody>
                              </table>
                            </div> 
                        <!-- Table DIV ends HERE -->
                      </div>
                      <div id="contentDiv" *ngIf="!show" >
            
            

                      </div>
                          
            
                        </div>
                  </div>    
            



     


            </div>
            <!-- dfvbfu -->

         
        </div>
      </div>
    </div>
  </div>

         