thead {
    background-color: #26b2cf;
    color: white;
}
.headTab {
    padding: 4px 10px;
    vertical-align: top;
    border-top: 1px solid #f2f2f2;
}

.btn.btn-fw {
    min-width: 73px;
}

.modal-dialog {
    max-width: 888px;
    margin: 30px auto;
}