<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Location Master</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv" *ngIf="show" >


                <!-- Heading add designation button -->
                <div class="row mb-3 mt-3">
                  
                  <div class="col-6 offset-6" style="text-align: right;">

                    <button type="button" class="btn btn-primary btn-fw" (click)="toggleShow()">Add Location</button>

                  </div>
                </div>
                <!-- Designation Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Location</th>
                        <th>Abbrevation</th>
                        <th>Departments</th>
                        <th>Location Role</th>
                        <th>State </th> 
                        <th>Country </th>                     
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>India</td>
                        <td>Pune</td>
                        <td>Development</td>
                        <td>Developer</td>
                        <td>Maharashtra</td> 
                        <td>India</td>                        
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>India</td>
                          <td>Pune</td>
                          <td>Development</td>
                          <td>Developer</td>
                          <td>Maharashtra</td> 
                          <td>India</td>                        
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>India</td>
                            <td>Pune</td>
                            <td>Development</td>
                            <td>Developer</td>
                            <td>Maharashtra</td> 
                            <td>India</td>                        
                            <td>Edit/delete</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>India</td>
                              <td>Pune</td>
                              <td>Development</td>
                              <td>Developer</td>
                              <td>Maharashtra</td> 
                              <td>India</td>                        
                              <td>Edit/delete</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
          </div>


          <div id="contentDiv" *ngIf="!show">


                <form class="forms-sample">
                
                  <div class="form-group row">
                    <!-- Location City name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputLocationCity" class=" col-form-label">Location City</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtLocationCity" placeholder="Location City">
                        </div>

                      </div>
                    </div>
                    <!-- location row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputDepartment" class=" col-form-label">Department</label>
                        </div>
                        <div class="col-8">
                          
                            <input type="text" class="form-control" id="txtDepartment" placeholder="Department">
                          
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <!-- Role row -->
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
                              <label for="exampleInputState" class=" col-form-label">State</label>
                          </div>
                          <div class="col-8">
  
                              <input type="text" class="form-control" id="txtState" placeholder="State">
                          </div>
  
                        </div>
                      </div>
                        <!-- Pin Code Row -->
                      <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
    
                              <label for="exampleInputPinCode" class=" col-form-label">Pin Code</label>
                            </div>
                            <div class="col-8">
                              
                                <input type="text" class="form-control" id="txtPinCode" placeholder="PinCode">
                              
                            </div>
    
                          </div>
                        </div>
                    
                    </div>

                      <div class="form-group row">
                          <!-- Country Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputCountry" class=" col-form-label">Country</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtCountry" placeholder="Country">
                              </div>
      
                            </div>
                          </div>
                          <!-- Abbrevation -->
                          <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
        
                                  <label for="exampleInputAbbrevation" class=" col-form-label">Abbrevation</label>
                                </div>
                                <div class="col-8">
                                  
                                    <input type="text" class="form-control" id="txtAbbrevation" placeholder="Abbrevation">
                                  
                                </div>
        
                              </div>
                            </div>
                         
                        </div>

                        <!-- Role Row -->
                        <div class="form-group row">
                            <!-- Country Row -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputRole" class=" col-form-label">Role</label>
                                </div>
                                <div class="col-8">
        
                                    <input type="text" class="form-control" id="txtRole" placeholder="Role">
                                </div>
        
                              </div>
                            </div>
                           
                           
                          </div>

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Create</button>                  
                   
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>
              </div>
              <!-- dfvbfu -->

           </div>
          </div>
        </div>
      </div>
    </div>

           