thead {
    background-color: #26b2cf;
    color: white;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }



.circle {
    border: 1px solid black;
    border-bottom-left-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-left: 100px;
}

li:not(:last-child):after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0.5rem 0 0 0;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}
