<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
         
                 <!-- Release Salary tab-->
              <div >
                
                  <div class="card-body">
                    <!-- Title -->
                      <div class="row mb-3 mt-3">
                          <div class="col-6">
        
                            <h4 class="card-description">Proof of Investment</h4>
                          </div>
                         
                        </div>

                  

              <!-- Table DIV Starts here -->
              <div id="tablediv" *ngIf="show">
    
                  <!-- Select Employee Row -->
                  <form class="forms-sample">
                    
                      <div class="form-group row">
                        <!-- Employee name row -->
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-5">
    
                              <label for="exampleInputName" class=" col-form-label">Employee Name:</label>
                            </div>
                            <div class="col-7">
                                
                        <input type="text" class="form-control" id="txtEmpName" placeholder="Enter Name">
  
                            </div>
    
                          </div>
                        </div>
                        <!-- Second Row -->
                        <div class="col-md-4">
                            <div class="row">
                              <div class="col-4">
      
                                <label for="exampleInputName" class=" col-form-label">Status:</label>
                              </div>
                              <div class="col-7">
                                  <select  class="form-control">
                                    <option>Approved</option>
                                    <option >Rejected</option>
                                    
                                  </select>
    
                              </div>
      
                            </div>
                          </div>
                          <!-- Third Row -->
                          <div class="col-md-4">
                              <div class="row">
                                <div class="col-5">
        
                                  <label for="exampleInputName" class=" col-form-label">Proof Attached:</label>
                                </div>
                                <div class="col-7">
                                    <select  class="form-control">
                                      <option >Yes</option>
                                      <option >No</option>
                                    
                                    </select>
      
                                </div>
        
                              </div>
                            </div>
                        
                      </div>
    
                    </form>

                   
                    <!-- Employee Data Table -->
    
                    <div class="table-responsive mb-4">
                      <table class="table" style="text-align:center">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                            <th>Gross Salary</th>
                            <th>Other Income & house Property</th>
                            <th>Exemption</th>
                            <th>Deduction</th>
                            <th>Total Income</th>
                            <th>Proofs Attached</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td><a class="nav-link" style="cursor: pointer;" (click)="toggleEmp()">Ravindra Pawar</a></td>
                            <td>12345</td>
                            <td>100000</td>
                            <td>50000</td>
                            <td>5000</td>
                            <td>2000</td>
                            <td>95000</td>
                            <td>Aadhar Card</td>
                            <td>Released</td>
                            <td><a class="nav-link" style="cursor: pointer;" (click)="toggleShow()">Pending</a></td>
                            
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Ravindra Pawar</td>
                              <td>12345</td>
                              <td>100000</td>
                              <td>50000</td>
                              <td>5000</td>
                              <td>2000</td>
                              <td>95000</td>
                              <td>Aadhar Card</td>
                              <td>Released</td>
                              <td>Pending</td>
                              
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ravindra Pawar</td>
                                <td>12345</td>
                                <td>100000</td>
                                <td>50000</td>
                                <td>5000</td>
                                <td>2000</td>
                                <td>95000</td>
                                <td>Aadhar Card</td>
                                <td>Released</td>
                                <td>Pending</td>
                                
                              </tr>
                              <tr>
                                  <td>1</td>
                                  <td>Ravindra Pawar</td>
                                  <td>12345</td>
                                  <td>100000</td>
                                  <td>50000</td>
                                  <td>5000</td>
                                  <td>2000</td>
                                  <td>95000</td>
                                  <td>Aadhar Card</td>
                                  <td>Released</td>
                                  <td>Pending</td>
                                  
                                </tr>
                        </tbody>
                      </table>
                    </div>
                   <!-- Table DIV ends HERE -->
              </div>


              <div id="contentDiv" *ngIf="!show" >

                  <form class="forms-sample" >
                    
                    <!-- Approved And Reject Button -->
                      <div class="form-group row" *ngIf="showReason" >
                        <!-- Approve Button row -->
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-4">
                              
                                <button  class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()" >Approve</button> 
                              
                            </div>
                            
                           
                           
                          </div>
                        </div>
                        <!-- Second Row -->
                        <div class="col-md-4">
                            <div class="row">
                              <div class="col-4">
      
                                  <button  class="btn btn-primary btn-fw ml-3" type="button" (click)=" toggleReason()">Reject With Reason</button> 
                              
                                </div>
                                


                              
      
                            </div>
                          </div>
                          
                        
                      </div>


                      <!-- Reason -->
                      <div *ngIf="!showReason">
                          <div class="form-group row" >
                              <!-- Approve Button row -->
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-2">
          
                                      <label for="exampleInputName" class=" col-form-label">Reason:</label>
                                  </div>
                                  <div class="col-6">
        
                                      <textarea _ngcontent-c3="" class="form-control" id="exampleTextarea1" rows="2"></textarea>
          
                                  </div>
                                 
          
                                </div>
                              </div>
                             
                              
                            </div>
                            <div class="form-group row" >
                                
                                <!-- Second Row -->
                                <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-6">
              
                                          <button  class="btn btn-primary btn-fw ml-3" type="button" >Save</button> 
                                          
                                          <button  class="btn btn-primary btn-fw ml-3" type="button" (click)=" toggleReason()" >Cancel</button> 
                                      </div>
                                      
              
                                    </div>
                                  </div>
                                  
                                
                              </div>
                      </div >
                     
    
                    </form>



              </div>


              <div id="employeeDetailsDiv" *ngIf="!showEmployee">
    
                  <!-- Select Employee Row -->
                  <form class="forms-sample">
                    
                      <div class="form-group row">
                        <!-- Employee name row -->
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-5">
    
                              <label for="exampleInputName" class=" col-form-label">Employee Name:</label>
                            </div>
                            <div class="col-7">
                                
                        <input type="text" class="form-control" id="txtEmpName" placeholder="Enter Name">
  
                            </div>
    
                          </div>
                        </div>
                       
                      </div>
    
                    </form>

                   
                    <!-- Employee Data Table -->
    
                    <div class="table-responsive mb-4">
                      <table class="table" style="text-align:center">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                            <th>Exemption</th>
                            <th>Deduction</th>
                            <th>House Property</th>
                            <th>Other Income</th>
                            <th>Total Income</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Ravindra</td>
                            <td>12345</td>
                            <td>100000</td>
                            <td>50000</td>
                            <td>5000</td>
                            <td>2000</td>
                            <td>95000</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Ravindra</td>
                              <td>12345</td>
                              <td>100000</td>
                              <td>50000</td>
                              <td>5000</td>
                              <td>2000</td>
                              <td>95000</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>100000</td>
                                <td>50000</td>
                                <td>5000</td>
                                <td>2000</td>
                                <td>95000</td>
                              </tr>
                              <tr>
                                  <td>1</td>
                                  <td>Ravindra</td>
                                  <td>12345</td>
                                  <td>100000</td>
                                  <td>50000</td>
                                  <td>5000</td>
                                  <td>2000</td>
                                  <td>95000</td>
                                </tr>
                        </tbody>
                      </table>
                    </div>
                   <!-- Table DIV ends HERE -->
              </div>
             
                  </div>
    
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>