<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                <!-- Title -->
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Appointment Letter</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv" *ngIf="show" >


                <!-- Generate new  button -->
                <div class="row mb-3 mt-3">
                  
                  <div class="col-6 offset-6" style="text-align: right;">

                    <button type="button" class="btn btn-primary btn-fw" (click)="toggleShow()">Generate New</button>

                  </div>
                </div>
                <!--  Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Designation </th>
                        <th>Department</th>
                        <th>Location</th>
                        <th>Joining Date </th>
                        <th>Reporting Manager </th>
                        <th>CTC </th>
                        <th>Status </th>
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ravindra Pawar</td>
                        <td>Software Developer</td>
                        <td>Developement</td>
                        <td>Pune</td>
                        <td>12 June 1994</td> 
                        <td>Mahesh</td> 
                        <td>
                          <button #anchor (click)="onToggle()" class="btn btn-primary-outline"> 250000</button>
                        
                          <kendo-popup [anchor]="anchor" (anchorViewportLeave)="disp = false" *ngIf="!disp">
                              <div class='content'>
                                 <!-- Compensation Table -->

                                      <div>
                                          <div class="row">
                                            <div class="col-md-4">
                                                <div class="table-responsive mb-4" style="width:100%;">
                                                    <table class="table" style="text-align:left">
                                                      
                                                        <thead >
                                                            <tr>
                                                              <th colspan="2" style="text-align: center;"> Compensation</th>
                                                            </tr>
                                                        </thead>
                                                    
                                                        <tr>
                                                          <th>Name</th>
                                                          <td>Ravindra Pawar</td>
                                                        </tr>
                                                        <tr>
                                                          <th>Designation</th>
                                                          <td>Software Developer</td>
                                                        </tr>
                                                    </table>
                      
                                                    <table class="table" style="text-align:left">
                                                        <thead >
                                                            <tr >
                                                              <th colspan="2" style="text-align: center;"> Monthly Benefits</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <th>Basic</th>
                                                            <td class="rightAlign">10000.00</td>
                                                          </tr>
                                                          <tr>
                                                            <th>HRA</th>
                                                            <td class="rightAlign">1234</td>
                                                          </tr>
                                                          <tr>
                                                              <th>Conveyance</th>
                                                              <td class="rightAlign">123</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Medicle</th>
                                                                <td class="rightAlign">1455</td>
                                                              </tr>
                                                              <tr>
                                                                  <th>Education Allowance</th>
                                                                  <td class="rightAlign">1513</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Other Allowane</th>
                                                                    <td class="rightAlign">1500</td>
                                                                  </tr>
                                                                  <tr>
                                                                      <th>Total</th>
                                                                      <th class="rightAlign">15000</th>
                                                                    </tr >
                                                                
                                                      
                                                    </table>
                                                  </div>
                                            </div>
                      
                                          </div> 
                                              
                      
                                        </div>
                              </div>
                          </kendo-popup> 
                        </td>                         
                        <td>Working</td> 
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Ravindra Pawar</td>
                          <td>Software Developer</td>
                          <td>Developement</td>
                          <td>Pune</td>
                          <td>12 June 1994</td> 
                          <td>Mahesh</td> 
                          <td>250000</td> 
                          <td>Working</td> 
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ravindra Pawar</td>
                            <td>Software Developer</td>
                            <td>Developement</td>
                            <td>Pune</td>
                            <td>12 June 1994</td> 
                            <td>Mahesh</td> 
                            <td>250000</td> 
                            <td>Working</td> 
                            <td>Edit/delete</td>
                          </tr>
                         <tr>
                        <td>1</td>
                        <td>Ravindra Pawar</td>
                        <td>Software Developer</td>
                        <td>Developement</td>
                        <td>Pune</td>
                        <td>12 June 1994</td> 
                        <td>Mahesh</td> 
                        <td>250000</td> 
                        <td>Working</td> 
                        <td>Edit/delete</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
          </div>


          <div id="contentDiv" *ngIf="!show">


                <form class="forms-sample" *ngIf="showGen">
                
                  <div class="form-group row">
                    <!-- name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputName" class=" col-form-label">Select Employee</label>
                        </div>
                        <div class="col-8">
                            <select _ngcontent-c3="" class="form-control">
                              <option>Ravindra Pawar</option>
                              <option>Mayur Bansode</option>
                              <option>Akshata Mohal</option>
                              <option>Pankaj</option>
                            </select>
                        </div>

                      </div>
                    </div>
                   
                  </div>
            
                    <div id="tableDiv">
  

                  <div class="table-responsive mb-4">
                      <table class="table" style="text-align:center">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Designation </th>
                            <th>Department</th>
                            <th>Location</th>
                            <th>Joining Date </th>
                            <th>Reporting Manager </th>
                            <th>CTC </th>
                            <th>Status </th>
                            <th>Action</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                         
                          <tr>
                              <td>1</td>
                              <td>Ravindra Pawar</td>
                              <td>Software Developer</td>
                              <td>Developement</td>
                              <td>Pune</td>
                              <td>12 June 1994</td> 
                              <td>Mahesh</td> 
                              <td>250000</td> 
                              <td>Working</td> 
                              <td>Edit/delete</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ravindra Pawar</td>
                                <td>Software Developer</td>
                                <td>Developement</td>
                                <td>Pune</td>
                                <td>12 June 1994</td> 
                                <td>Mahesh</td> 
                                <td>250000</td> 
                                <td>Working</td> 
                                <td>Edit/delete</td>
                              </tr>
                             <tr>
                            <td>1</td>
                            <td>Ravindra Pawar</td>
                            <td>Software Developer</td>
                            <td>Developement</td>
                            <td>Pune</td>
                            <td>12 June 1994</td> 
                            <td>Mahesh</td> 
                            <td>250000</td> 
                            <td>Working</td> 
                            <td>Edit/delete</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>

                
  

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-12" style="text-align: right">
                        <button class="btn btn-primary btn-fw ml-3" type="submit" (click)="showGenerate()">Submit</button>

                       
                                        
                   
                        <button class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>

          <!-- Generate Appointment Letter Div -->
          <div id="generateDiv" *ngIf="!showGen">
              <form class="forms-sample">
                 <!-- name  and Job Title row -->
                  <div class="form-group row">
                    <!-- name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputName" class=" col-form-label">Name</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtName" placeholder="Name">
                        </div>

                      </div>
                    </div>
                    <!-- Job Title -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputJobTitle" class=" col-form-label">Job Title</label>
                        </div>
                        <div class="col-8">
                          
                            <input type="text" class="form-control" id="txtJobTitle" placeholder="Job Title">
                          
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- Date row And Start Date -->
                  <div class="form-group row">
                      
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
                              <label for="exampleInputRole" class=" col-form-label">Date</label>
                          </div>
                          <div class="col-8">
                             
                            <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                          </div>
  
                        </div>
                      </div>
                      <!-- Start Date -->
                      <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
    
                              <label for="exampleInputStartSate" class=" col-form-label">Start Date</label>
                            </div>
                            <div class="col-8">
    
                                <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                            </div>
    
                          </div>
                        </div>
                    
                    </div>

                    
                      <!-- Location And Salary PA row -->
                    <div class="form-group row">
                        <div class="col-md-6">
                          <!-- Location Row -->
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputLocation" class=" col-form-label">Location</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control">
                                  <option>Pune</option>
                                  <option>Mumbai</option>
                                  <option>Kolkata</option>
                                  <option>Chennai</option>
                                </select>
                            </div>
    
                          </div>
                        </div>

                        <!--Salary PA row -->
                        <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSalaryPA" class=" col-form-label">Salary PA</label>
                              </div>
                              <div class="col-8">
                                  <input type="text" class="form-control" id="txtSalaryPA" placeholder="Salary PA">
                              </div>
      
                            </div>
                          </div>
                      
                      </div>

                      <!-- Designation And Probation period row -->
                      <div class="form-group row">
                          <!-- designation Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputDesignation" class=" col-form-label">Designation</label>
                              </div>
                              <div class="col-8">
                                  <select class="form-control">
                                      <option>Developer</option>
                                      <option>Tester</option>
                                      <option>Designer</option>
                                      <option>Architect</option>
                                     
                                    </select>
                              </div>
      
                            </div>
                          </div>
                          <!-- Probation Period row -->
                          <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputProbationPeriod" class=" col-form-label">Probation Period</label>
                                </div>
                                <div class="col-8">
                                    
                                  <input type="text" class="form-control" id="txtProbationPeriod" placeholder="Probation Period">
                                </div>
        
                              </div>
                            </div>
                         
                        </div>


                          <!-- Compensation Table -->

                          
                                <div class="row">
                                  <div class="col-md-4">
                                      <div class="table-responsive mb-4" style="width:100%;">
                                          <table class="table" style="text-align:left">
                                            
                                              <thead >
                                                  <tr>
                                                    <th colspan="2" style="text-align: center;"> Compensation</th>
                                                  </tr>
                                              </thead>
                                          
                                              <tr>
                                                <th>Name</th>
                                                <td>Ravindra Pawar</td>
                                              </tr>
                                              <tr>
                                                <th>Designation</th>
                                                <td>Software Developer</td>
                                              </tr>
                                          </table>
            
                                          <table class="table" style="text-align:left">
                                              <thead >
                                                  <tr >
                                                    <th colspan="2" style="text-align: center;"> Monthly Benefits</th>
                                                  </tr>
                                              </thead>
                                              <tr>
                                                  <th>Basic</th>
                                                  <td class="rightAlign">10000.00</td>
                                                </tr>
                                                <tr>
                                                  <th>HRA</th>
                                                  <td class="rightAlign">1234</td>
                                                </tr>
                                                <tr>
                                                    <th>Conveyance</th>
                                                    <td class="rightAlign">123</td>
                                                  </tr>
                                                  <tr>
                                                      <th>Medicle</th>
                                                      <td class="rightAlign">1455</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Education Allowance</th>
                                                        <td class="rightAlign">1513</td>
                                                      </tr>
                                                      <tr>
                                                          <th>Other Allowane</th>
                                                          <td class="rightAlign">1500</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total</th>
                                                            <th class="rightAlign">15000</th>
                                                          </tr >
                                                      
                                            
                                          </table>
                                        </div>
                                  </div>
            
                                </div> 
                             

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button class="btn btn-primary btn-fw ml-3" type="button">Save</button>  
                        <button class="btn btn-primary btn-fw ml-3" type="button">Generate</button>                 
                   
                        <button class="btn btn-primary btn-fw ml-3" type="button" (click)="showGenerate()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>


              </div>
              

           </div>
          </div>
        </div>
      </div>
    </div>

           