<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Comp Off Request</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv"  >

            <!-- Select Employee -->
              <div class="form-group row">
                          
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                          <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                      </div>
                      <div class="col-8">

                          <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                        <div class="col-2">
                            <label for="exampleInputSelectEmployee" class=" col-form-label">Month</label>
                        </div>
                        <div class="col-6">
  
                            <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                        </div>
  
                      </div>
                    </div>
                </div>
                <!-- Leave Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Date</th>
                        <th>Employee Name</th>
                        <th>Employee Code</th>                        
                     
                        <th>Comp Off Date</th>
                        <th>Reason</th>
                        <th>Reporting Manager</th>
                        <th>Status</th>
                        <th>Approved Date</th>
                        <th>Total Comp Off</th> 
                        <th>Comp Off Availed</th>                                          
                        <th>Action</th>                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>23 Nov 2018</td>
                        <td>Ravindra Pawar</td>
                        <td>123</td>
                    
                        <td>12 June 1994</td> 
                        <td>Seek Leave</td> 
                        <td>Mr. Mahesh</td> 
                        <td>On Leave</td> 
                        <td>12 Jully 2018</td> 
                        <td>2</td>
                        <td>1</td>                                          
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>23 Nov 2018</td>
                          <td>Ravindra Pawar</td>
                          <td>123</td>
                         
                          <td>12 June 1994</td> 
                          <td>Seek Leave</td> 
                          <td>Mr. Mahesh</td> 
                          <td>On Leave</td> 
                          <td>12 Jully 2018</td> 
                          <td>2</td>
                          <td>1</td>                                          
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>23 Nov 2018</td>
                            <td>Ravindra Pawar</td>
                            <td>123</td>
                            
                            <td>12 June 1994</td> 
                            <td>Seek Leave</td> 
                            <td>Mr. Mahesh</td> 
                            <td>On Leave</td> 
                            <td>12 Jully 2018</td> 
                            <td>2</td>
                            <td>1</td>                                          
                            <td>Edit/delete</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>23 Nov 2018</td>
                              <td>Ravindra Pawar</td>
                              <td>123</td>
                          
                              <td>12 June 1994</td> 
                              <td>Seek Leave</td> 
                              <td>Mr. Mahesh</td> 
                              <td>On Leave</td> 
                              <td>12 Jully 2018</td> 
                              <td>2</td>
                              <td>1</td>                                          
                              <td>Edit/delete</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
                  <!-- Buttons row -->
                  <div class="row">
                      <div class="col-6 offset-6" style="text-align: right">
                          <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Export to Excel</button>                  
                     
                      </div>
                    </div>
          </div>



           </div>
          </div>
        </div>
      </div>
    </div>

           