<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- Employee Master Tabs -->
          <ul class="nav nav-tabs " style="font-size: 14px;">
            <li class="nav-item">
              <a class="nav-link active" href="#basicInfo" data-toggle="tab">Basic Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#FamilyDetails" data-toggle="tab">Family Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#acDetails" data-toggle="tab">Access Card Details</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#bankDetails" data-toggle="tab">Bank Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pf" data-toggle="tab">PF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#peHistory" data-toggle="tab">Previous Employment History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#documents" data-toggle="tab">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#CustomizedReport" data-toggle="tab">Customized Report</a>
              </li>
          </ul>

          <div class="tab-content" #tabgroup>
            <!-- Basic Info tab-->
            <div class="tab-pane active" id="basicInfo">

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Basic Information</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv" *ngIf="show" >

              <div class="form-group row">
                                
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                          <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                      </div>
                      <div class="col-8">

                          <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                       
                        <div class="col" style="text-align: right">

                            <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add Employee</button>
                        </div>

                      </div>
                    </div>
                  
                </div>

                <!-- Employee Data Table -->
                

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Employee Name</th>
                        <th>Employee Code</th>
                        <th>DOB</th>
                        <th>Father Name</th>
                        <th>Spouse Name</th>
                        <th>Contact No. </th>
                        <th>Email Id</th>
                        <th>PAN No.</th>
                        <th>Joining Date</th>
                        <th>Probation Period</th>
                        <th>Confirmation Date</th>
                        <th>Status</th>
                        <th>Marital Status</th>
                        <th>Blood Group</th>
                        <th>Action</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ravindra</td>
                        <td>12345</td>
                        <td>12 June 1994</td>
                        <td>Suresh</td>
                        <td>No</td>
                        <td>9552625614</td>
                        <td>pawarravindra4917@gmail.com</td>
                        <td>CVKPP621Q</td>
                        <td>16 Oct2018</td>
                        <td>6</td>
                        <td>20 Oct 2018</td>
                        <td>Working</td>
                        <td>Unmarried</td>
                        <td>B+</td>
                        <td>Edit/delete</td>
                        <td>
                          <label class="badge badge-danger">Active</label>
                        </td>
                      </tr>
                      <tr>
                        <td>Ravindra</td>
                        <td>12345</td>
                        <td>12 June 1994</td>
                        <td>Suresh</td>
                        <td>No</td>
                        <td>9552625614</td>
                        <td>pawarravindra4917@gmail.com</td>
                        <td>CVKPP621Q</td>
                        <td>16 Oct2018</td>
                        <td>6</td>
                        <td>20 Oct 2018</td>
                        <td>Working</td>
                        <td>Unmarried</td>
                        <td>B+</td>
                        <td>Edit/delete</td>
                        <td>
                          <label class="badge badge-danger">Active</label>
                        </td>
                      </tr>
                      <tr>
                        <td>Ravindra</td>
                        <td>12345</td>
                        <td>12 June 1994</td>
                        <td>Suresh</td>
                        <td>No</td>
                        <td>9552625614</td>
                        <td>pawarravindra4917@gmail.com</td>
                        <td>CVKPP621Q</td>
                        <td>16 Oct2018</td>
                        <td>6</td>
                        <td>20 Oct 2018</td>
                        <td>Working</td>
                        <td>Unmarried</td>
                        <td>B+</td>
                        <td>Edit/delete</td>
                        <td>
                          <label class="badge badge-danger">Active</label>
                        </td>
                      </tr>
                      <tr>
                        <td>Ravindra</td>
                        <td>12345</td>
                        <td>12 June 1994</td>
                        <td>Suresh</td>
                        <td>No</td>
                        <td>9552625614</td>
                        <td>pawarravindra4917@gmail.com</td>
                        <td>CVKPP621Q</td>
                        <td>16 Oct2018</td>
                        <td>6</td>
                        <td>20 Oct 2018</td>
                        <td>Working</td>
                        <td>Unmarried</td>
                        <td>B+</td>
                        <td>Edit/delete</td>
                        <td>
                          <label class="badge badge-danger">Active</label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
            <!-- Table DIV ends HERE -->
          </div>
          <div id="contentDiv" *ngIf="!show" >


                <form class="forms-sample">
                
                  <div class="form-group row">
                    <!-- Employee name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputName" class=" col-form-label">Employee name</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtEmpName" placeholder="Enter Name">
                        </div>

                      </div>
                    </div>
                    <!-- Profile Upload row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputName" class=" col-form-label">Profile Upload</label>
                        </div>
                        <div class="col-8">
                          <!-- Profile Upload -->
                          <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                            </span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <!-- Employee code row -->
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
                              <label for="exampleInputCode" class=" col-form-label">Employee code</label>
                          </div>
                          <div class="col-8">
  
                              <input type="text" class="form-control" id="txtempCode" placeholder="Employee code">
                          </div>
  
                        </div>
                      </div>
                      <!-- PAN No row -->
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
  
                              <label for="exampleInputPanNo" class="col-form-label">PAN No.</label>
                          </div>
                          <div class="col-8">
                            
                            
                      <input type="text" class="form-control" id="txtPanNo" placeholder="PAN No">
                          </div>
  
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                        <!-- DOB row -->
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputdob" class=" col-form-label">Date of birth</label>
                            </div>
                            <div class="col-8">
    
                                <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                            
                              </div>
    
                          </div>
                        </div>
                        <!-- Joining Date -->
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
    
                                <label for="exampleInputJoiningDate" class=" col-form-label">Joining Date</label>
                            </div>
                            <div class="col-8">
                              
                              
                      <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                            </div>
    
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                          <!-- Fathers r spouse Name Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputFatherName" class=" col-form-label">Fathers/Spouse Name</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtFatherName" placeholder="Fathers Name">
                              </div>
      
                            </div>
                          </div>
                          <!-- probation period -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
      
                                  <label for="exampleInputProbationPeriod" class="col-form-label">Probation Period</label>
                              </div>
                              <div class="col-8">
                                
                      <input type="text" class="form-control" id="txtProbationPeriod" placeholder="Probation Period">
                              </div>
      
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                            <!-- Contact No Row -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputConatactNo" class=" col-form-label">Contact No.</label>
                                </div>
                                <div class="col-8">
        
                                    <input type="text" class="form-control" id="txtContactNo" placeholder="Contact No">
                                </div>
        
                              </div>
                            </div>
                            <!-- Confirmation Date -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
        
                                    <label for="exampleInputConfirmationDate" class=" col-form-label">Confirmation Date</label>
                                </div>
                                <div class="col-8">
                                  
                      <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                </div>
        
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                              <!-- Email Id Row -->
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputEmailId" class=" col-form-label">Email Id.</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="email" class="form-control" id="txtEmailId" placeholder="Email Id">
                                  </div>
          
                                </div>
                              </div>
                              <!-- Blood Group -->
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
          
                                      <label class=" col-form-label">Blood Group</label>
                                  </div>
                                  <div class="col-8">
                                    
                                      <input type="text" class="form-control" id="txtBloodGroup" placeholder="Blood Group">
                                  </div>
          
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                                <!-- Emergency Contact No -->
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label for="exampleInputEmailId" class=" col-form-label">Emergency Contact No.</label>
                                    </div>
                                    <div class="col-8">
            
                                        <input type="text" class="form-control" id="txtEmergencyContact" placeholder="Emergency Contact">
                                    </div>
            
                                  </div>
                                </div>
                                 <!-- Draft -->
                                 <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label">Draft</label>
                                    </div>
                                    <div class="col-8">
                                          
                                        <input type="text" class="form-control" id="txtEmergencyContact" placeholder="Emergency Contact">
                                      
                                    </div>
                              
                                  </div>
                                </div>
                              
                                
                              </div>
                              <div class="form-group row">
                                 
                                   <!-- Marital Status -->
                                   <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label class="col-form-label">Marital Status</label>
                                      </div>
                                      <div class="col-4">
                                          
                                              <div class="form-radio">
                                                <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="marriedRadio" id="rdMarried" value=""
                                                    checked=""> Married
                                                  <i class="input-helper"></i></label>
                                              </div>
                                      </div>
  
                                      <div class="col-4">
                                          <div class="form-radio">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="marriedRadio" id="rdUnmarried" value="option2">
                                              Unmarried
                                              <i class="input-helper"></i></label>
                                          </div>
                                      </div>
              
                                    </div>
                                  </div>
                                
                                  
                                </div>
  

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" (click)="selectNext(tabgroup)" type="button">Save and continue</button>                  
                   
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>
              </div>

            </div>
            <!-- Family details tab-->
            <div class="tab-pane" id="FamilyDetails">

                <!-- New Family -->
                <div class="card-body">
                    <div class="row mb-3 mt-3">
                        <div class="col-6">
                  
                          <h4 class="card-description">Family Details</h4>
                        </div>
                  
                      </div>
                  <div id="tableDiv" *ngIf="show">

                    <!-- Select Employee name -->
                   
                    <div class="form-group row">
                          
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                            </div>
                            <div class="col-8">
    
                                <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                            </div>
    
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                             
                              <div class="col" style="text-align: right">
      
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add Family Member</button>
                              </div>
      
                            </div>
                          </div>
                        
                      </div>

                     <!-- Family Details Table -->
                    <div class="table-responsive mb-4">
                      <table class="table" style="text-align:center">
                        <thead>
                          <tr>
                            <th>Employee Name</th>
                            <th>Employee Code</th>
                            <th>Name</th>
                            <th>Relation</th>
                            <th>DOB</th>
                            <th>Age</th>
                            <th>Blood Group</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Profession</th>
                            <th>Remark</th>
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Ravindra</td>
                            <td>12345</td>
                            <td>Suresh</td>
                            <td>Father</td>
                            <td>02 Apr 192</td>
                            <td>50</td>
                            <td>B+</td>
                            <td>Male</td>
                            <td>Indian</td>
                            <td>Labour</td>
                            <td>Nothing</td>
                            <td>Edit/delete</td>
                           
                          </tr>
                          <tr>
                              <td>Ravindra</td>
                              <td>12345</td>
                              <td>Suresh</td>
                              <td>Father</td>
                              <td>02 Apr 192</td>
                              <td>50</td>
                              <td>B+</td>
                              <td>Male</td>
                              <td>Indian</td>
                              <td>Labour</td>
                              <td>Nothing</td>
                              <td>Edit/delete</td>
                             
                            </tr>
                            <tr>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>Suresh</td>
                                <td>Father</td>
                                <td>02 Apr 192</td>
                                <td>50</td>
                                <td>B+</td>
                                <td>Male</td>
                                <td>Indian</td>
                                <td>Labour</td>
                                <td>Nothing</td>
                                <td>Edit/delete</td>
                               
                              </tr>
                              <tr>
                                  <td>Ravindra</td>
                                  <td>12345</td>
                                  <td>Suresh</td>
                                  <td>Father</td>
                                  <td>02 Apr 192</td>
                                  <td>50</td>
                                  <td>B+</td>
                                  <td>Male</td>
                                  <td>Indian</td>
                                  <td>Labour</td>
                                  <td>Nothing</td>
                                  <td>Edit/delete</td>
                                 
                                </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div id="contentDiv" *ngIf="!show">
                   <!-- Enter Family Details -->
                    <form class="forms-sample">

                      <!-- Select Employee Name -->
                      <div class="form-group row">
                          
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                              </div>
      
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                               
                                <div class="col" style="text-align: right">
        
                                    <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" >Add New Member</button>
                                </div>
        
                              </div>
                            </div>
                          
                        </div>

                      <!-- Employee name row -->
                        <div class="form-group row">
                          
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
      
                                <label for="exampleInputName" class=" col-form-label"> Name</label>
                              </div>
                              <div class="col-8">
      
                                <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                              </div>
      
                            </div>
                          </div>
                          <!-- Nationality -->
                          <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputNationality" class=" col-form-label">Nationality</label>
                                </div>
                                <div class="col-8">
        
                                    <input type="text" class="form-control" id="txtNationality" placeholder="Nationality">
                                </div>
        
                              </div>
                            </div>
                         
                        </div>
                        <!-- Relation row -->
                        <div class="form-group row">
                            
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputRelation" class=" col-form-label">Relation</label>
                                </div>
                                <div class="col-8">
        
                                    <input type="text" class="form-control" id="txtRelation" placeholder="Relation">
                                </div>
        
                              </div>
                            </div>

                             <!-- Gender ROW -->
                             <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label class="col-form-label">Gender</label>
                                  </div>
                                  <div class="col-4">
                                      
                                          <div class="form-radio">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="marriedRadio" id="rdMarried" value=""
                                                checked=""> Male
                                              <i class="input-helper"></i></label>
                                          </div>
                                  </div>

                                  <div class="col-4">
                                      <div class="form-radio">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input" name="marriedRadio" id="rdUnmarried" value="option2">
                                         Female
                                          <i class="input-helper"></i></label>
                                      </div>
                                    </div>
          
                                </div>
                              </div>
                           
                          </div>
                           <!-- DOB row -->
                          <div class="form-group row">
                             
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputdob" class=" col-form-label">Date of birth</label>
                                  </div>
                                  <div class="col-8">
          
                                      <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                  </div>
          
                                </div>
                              </div>
                              <!-- Blood Group -->
                              <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
            
                                        <label class=" col-form-label">Blood Group</label>
                                    </div>
                                    <div class="col-8">
                                      
                                        <input type="text" class="form-control" id="txtBloodGroup" placeholder="Blood Group">
                                    </div>
            
                                  </div>
                                </div>
                           
                              
                            </div>
                            <!-- Age -->
                            <div class="form-group row">
                                <!-- Age Row -->
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label for="exampleInputAge" class=" col-form-label">Age</label>
                                    </div>
                                    <div class="col-8">
            
                                        <input type="text" class="form-control" id="txtAge" placeholder="Age">
                                    </div>
            
                                  </div>
                                </div>
                                 <!--Remark -->
                                    <div class="col-md-6">
                                        <div class="row">
                                          <div class="col-4">
                  
                                              <label for="exampleInputPanNo" class="col-form-label">Remark</label>
                                          </div>
                                          <div class="col-8">
                                              <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
                                          </div>
                  
                                        </div>
                                      </div>
                                
                                
                              </div>
                              
                               
                       <!-- Buttons row -->
                        <div class="row">
                          <div class="col-6 offset-6" style="text-align: right">
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Save and continue</button>                  
                         
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                          </div>
                        </div>
      
                      </form>
                    </div>
                    
                  </div>
                <!-- New Family End -->
                
                </div>
            <!-- Access card details tab-->
            <div class="tab-pane" id="acDetails">
              <div class="card-body">

                  <div class="row mb-3 mt-3">
                      <div class="col-6">
                
                        <h4 class="card-description">Access Card Details</h4>
                      </div>
                
                    </div>
              

                  <div id="tableDiv" *ngIf="show">

                  
                     <!-- Select Employee name -->
                   
                     <div class="form-group row">
                          
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                            </div>
                            <div class="col-8">
    
                                <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                            </div>
    
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                             
                              <div class="col" style="text-align: right">
      
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add Access Card</button>
                              </div>
      
                            </div>
                          </div>
                        
                      </div>
                   

                <!-- Access Card Table -->
                
                <div class="table-responsive mb-4" >
                    <table class="table" style="text-align:center">
                      <thead>
                        <tr>
                          <th>Employee Name</th>
                          <th>Employee Code</th>
                          <th>Access Card No</th>
                          <th>Issued Date</th>
                          <th>Status</th>
                          <th>Comment</th>            
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Ravindra</td>
                              <td>12345</td>
                              <td>955262</td>                          
                              <td>02 Apr 192</td>
                              <td>Active</td>
                              <td>Nothing</td>                            
                              <td>Edit/delete</td>
                             
                            </tr>
                        <tr>
                            <td>Ravindra</td>
                            <td>12345</td>
                            <td>955262</td>                          
                            <td>02 Apr 192</td>
                            <td>Active</td>
                            <td>Nothing</td>                            
                            <td>Edit/delete</td>
                           
                          </tr>
                          <tr>
                              <td>Ravindra</td>
                              <td>12345</td>
                              <td>955262</td>                          
                              <td>02 Apr 192</td>
                              <td>Active</td>
                              <td>Nothing</td>                            
                              <td>Edit/delete</td>
                             
                            </tr>
                            <tr>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>955262</td>                          
                                <td>02 Apr 192</td>
                                <td>Active</td>
                                <td>Nothing</td>                            
                                <td>Edit/delete</td>
                               
                              </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr/>
                </div>

                <div id="contentDiv"  *ngIf="!show">

                
                  <!-- Enter Access Card details -->
                  <form class="forms-sample">

                      <!-- Selec Employee Name -->
                        <div class="form-group row">
                          
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-2">
        
                                  <label for="exampleInputName" class=" col-form-label"> Select Employee </label>
                                </div>
                                <div class="col-4">
        
                                  <input type="text" class="form-control" id="txtName" placeholder="Enter Employee Name">
                                </div>
        
                              </div>
                            </div>
                            
                          </div>
                      <!-- Access Card row -->
                        <div class="form-group row">
                          
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
      
                                <label for="exampleInputAccessCardNo." class=" col-form-label"> Access Card No.</label>
                              </div>
                              <div class="col-8">
      
                                <input type="text" class="form-control" id="txtAccessCardNo." placeholder="Access Card No.">
                              </div>
      
                            </div>
                          </div>
                          
                        </div>
                        <!-- Relation row -->
                        
                           <!-- Issue Date row -->
                          <div class="form-group row">
                             
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputissueDate" class=" col-form-label">Issue Date</label>
                                  </div>
                                  <div class="col-8">
          
                                      <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                  </div>
          
                                </div>
                              </div>
                              <!-- Joining Date -->
                              
                            </div>
                       <!-- Buttons row -->
                        <div class="row">
                          <div class="col-6 offset-6" style="text-align: right">
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Save and continue</button>                  
                         
                              <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                          </div>
                        </div>
      
                      </form>
                    </div>
              </div>
            </div>
            <!-- Bank Details tab-->
            <div class="tab-pane" id="bankDetails">
            

                  <div class="card-body">
                      <div class="row mb-3 mt-3">
                          <div class="col-6">
                    
                            <h4 class="card-description">Bank Details</h4>
                          </div>
                    
                        </div>
                    <div id="tableDiv" *ngIf="show">
                        
                           
                            <!-- Select Employee name -->
                           
                            <div class="form-group row">
                                
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                                  </div>
          
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                   
                                    <div class="col" style="text-align: right">
            
                                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add Bank Details</button>
                                    </div>
            
                                  </div>
                                </div>
                              
                            </div>
        
                             <!-- Bank Details Table -->
                            <div class="table-responsive mb-4">
                              <table class="table" style="text-align:center">
                                <thead>
                                  <tr>
                                    
                                    <th>Sr. No.</th>
                                    <th>Employee Name</th>
                                    <th>Employee Code</th>
                                    <th>Bank Name</th>
                                    <th>Bank Branch</th>
                                    <th>Account No.</th>
                                    <th>IFSC Code</th>
                                    <th>Account Type</th>
                                    <th>Payment type</th>
                                    <th>DD Payable At </th>
                                    <th>Probation Period</th>
                                    <th>Name as per bank record</th>
                                    <th>Actions</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Ravindra</td>
                                    <td>12345</td>
                                    <td>State Bank of India</td>
                                    <td>Pimple Saudagar</td>
                                    <td>203268141</td>
                                    <td>SBIN0014578</td>
                                    <td>Saving</td>
                                    <td>Online</td>
                                    <td>Sbi</td>
                                    <td>6</td>
                                    <td>Ravindra Suresh Pawar</td>
                                    <td>Edit/delete</td>
                                   
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>Ravindra</td>
                                      <td>12345</td>
                                      <td>State Bank of India</td>
                                      <td>Pimple Saudagar</td>
                                      <td>203268141</td>
                                      <td>SBIN0014578</td>
                                      <td>Saving</td>
                                      <td>Online</td>
                                      <td>Sbi</td>
                                      <td>6</td>
                                      <td>Ravindra Suresh Pawar</td>
                                      <td>Edit/delete</td>
                                     
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Ravindra</td>
                                        <td>12345</td>
                                        <td>State Bank of India</td>
                                        <td>Pimple Saudagar</td>
                                        <td>203268141</td>
                                        <td>SBIN0014578</td>
                                        <td>Saving</td>
                                        <td>Online</td>
                                        <td>Sbi</td>
                                        <td>6</td>
                                        <td>Ravindra Suresh Pawar</td>
                                        <td>Edit/delete</td>
                                       
                                      </tr>
                                      <tr>
                                          <td>4</td>
                                          <td>Ravindra</td>
                                          <td>12345</td>
                                          <td>State Bank of India</td>
                                          <td>Pimple Saudagar</td>
                                          <td>203268141</td>
                                          <td>SBIN0014578</td>
                                          <td>Saving</td>
                                          <td>Online</td>
                                          <td>Sbi</td>
                                          <td>6</td>
                                          <td>Ravindra Suresh Pawar</td>
                                          <td>Edit/delete</td>
                                         
                                        </tr>
                                </tbody>
                              </table>
                            </div>
                    </div>

                    <div id="contentDiv" *ngIf="!show">

                    
  
                        <!-- Enter Bank Details -->
                      <form class="forms-sample">
  
                        <!-- Select Employee Name -->
                          <div class="form-group row">
                            
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
          
                                    <label for="exampleInputBankName" class=" col-form-label"> Select Employee </label>
                                  </div>
                                  <div class="col-8">
          
                                    <input type="text" class="form-control" id="txtBankName" placeholder="Enter Employee Name">
                                  </div>
          
                                </div>
                              </div>
                              <!-- Account type -->
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputAccType" class=" col-form-label">Account Type.</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="text" class="form-control" id="txtAcctype" placeholder="Account Type">
                                  </div>
          
                                </div>
                              </div>
                              
                              
                            </div>
                        <!-- Bank name  and Payment type row  -->
                          <div class="form-group row">
                            <!-- Bank Name -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
        
                                  <label for="exampleInputName" class=" col-form-label">Bank Name</label>
                                </div>
                                <div class="col-8">
        
                                  <input type="text" class="form-control" id="txtName" placeholder="Enter Bank Name">
                                </div>
        
                              </div>
                            </div>
                            <!-- Payment Type -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="examplePaymentType" class=" col-form-label">Payment Type</label>
                                </div>
                                <div class="col-8">
                                  <select  class="form-control" placeholder="Payment Type">
                                    <option >NTFS</option>
                                    <option >RTGS</option>
                                    <option >IMPS</option>
                                    <option >Cheque or Cash</option>
                                  </select>
                                </div>
        
                              </div>
                            </div>
                            
                          </div>
                          <!-- bank Branch and name as per bank record row -->
                          <div class="form-group row">
                              
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputBankBranch" class=" col-form-label">Bank Branch</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="text" class="form-control" id="txtBanknBranch" placeholder="Bank Branch">
                                  </div>
          
                                </div>
                              </div>
                              <!-- name as per bank record -->
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputProfession" class=" col-form-label">Name As Per Bank Record</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="text" class="form-control" id="txtProfession" placeholder="Profession">
                                  </div>
          
                                </div>
                              </div>
                              
                            </div>
                            <!-- AccountNo and IFSC code-->
                            <div class="form-group row">
                              
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                      <label for="exampleInputAccNo" class=" col-form-label">Account No.</label>
                                  </div>
                                  <div class="col-8">
          
                                      <input type="text" class="form-control" id="txtAccNo" placeholder="Account No">
                                  </div>
          
                                </div>
                              </div>
                                <!-- IFSC code -->
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label for="exampleInputIfscCode" class=" col-form-label">IFSC Code.</label>
                                    </div>
                                    <div class="col-8">
            
                                        <input type="text" class="form-control" id="txtIfscCode" placeholder="IFSC Code">
                                    </div>
            
                                  </div>
                                </div>
                              
                             
                            </div>
                           
                               <!-- Remark-->
                            <div class="form-group row">
                              
                                        <!--Remark -->
                                    <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-4">
                
                                            <label for="exampleInputPanNo" class="col-form-label">Remark</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea class="form-control" id="exampleTextarea1" rows="2"></textarea>
                                        </div>
                
                                      </div>
                                    </div>
                               
                              </div>
                            
                                    
                                     
                         <!-- Buttons row -->
                          <div class="row">
                            <div class="col-8 offset-4" style="text-align: right">
                                <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                                <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Save and continue</button>                  
                           
                                <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                            </div>
                          </div>
        
                        </form>
                      </div>
                      
                    </div>
                  <!-- New Family End -->
             
            </div>
            <!-- PF tab-->
            <div class="tab-pane" id="pf">
               

                    <div class="card-body">
                      <!-- Heading add bank button -->
                      <div class="row mb-3 mt-3">
                          <div class="col-6">
                    
                            <h4 class="card-description">PF Details</h4>
                          </div>
                    
                        </div>
                <div id="tableDiv" *ngIf="show">  
                        
                    
                        <!-- Select Employee name -->
                        <div class="form-group row">
                          
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                              </div>
      
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                               
                                <div class="col" style="text-align: right">
        
                                    <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add PF Details</button>
                                </div>
        
                              </div>
                            </div>
                          
                        </div>
    
                         <!-- PF Details Table -->
                        <div class="table-responsive mb-4">
                          <table class="table" style="text-align:center">
                            <thead>
                              <tr>
                                
                                <th>Sr. No.</th>
                                <th>Employee Name</th>
                                <th>Employee Code</th>
                                <th>Included in Pf scheme</th>
                                <th>PF join date</th>
                                <th>PF Scheme</th>
                                <th>UAN No.</th>
                                <th>PF No.</th>
                                <th>Included in ESIC?</th>
                                <th>ESIC No.</th>
                                <th>Family PF No.</th>
                                <th>Actions</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>Yes</td>
                                <td>12 june 2018</td>
                                <td>ABC</td>
                                <td>1230014578</td>
                                <td>123456888</td>
                                <td>Yes</td>
                                <td>456789</td>
                                <td>13546845</td>
                                <td>Edit/delete</td>
                               
                              </tr>
                              <tr>
                                  <td>1</td>
                                  <td>Ravindra</td>
                                  <td>12345</td>
                                  <td>Yes</td>
                                  <td>12 june 2018</td>
                                  <td>ABC</td>
                                  <td>1230014578</td>
                                  <td>123456888</td>
                                  <td>Yes</td>
                                  <td>456789</td>
                                  <td>13546845</td>
                                  <td>Edit/delete</td>
                                 
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Ravindra</td>
                                    <td>12345</td>
                                    <td>Yes</td>
                                    <td>12 june 2018</td>
                                    <td>ABC</td>
                                    <td>1230014578</td>
                                    <td>123456888</td>
                                    <td>Yes</td>
                                    <td>456789</td>
                                    <td>13546845</td>
                                    <td>Edit/delete</td>
                                   
                                  </tr>
                                  
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div id="contentDiv" *ngIf="!show">

                     
                          <!-- Enter PF Details -->
                        <form class="forms-sample">
    
                          <!-- Select Employee Name -->
                            <div class="form-group row">
                              
                                <div class="col-md-12">
                                  <div class="row">
                                    <div class="col-2">
            
                                      <label for="exampleInputBankName" class=" col-form-label"> Select Employee </label>
                                    </div>
                                    <div class="col-4">
            
                                      <input type="text" class="form-control" id="txtBankName" placeholder="Enter Employee Name">
                                    </div>
            
                                  </div>
                                </div>
                                
                                
                              </div>
                          <!-- Is included in PF Scheme -->
                            <div class="form-group row">
                              
                                <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label class="col-form-label">Included in PF scheme?</label>
                                      </div>
                                      <div class="col-4">
                                          
                                              <div class="form-radio">
                                                <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="schemeRadio" id="rdYes" value=""
                                                    checked=""> Yes
                                                  <i class="input-helper"></i></label>
                                              </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="form-radio">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="schemeRadio" id="rdNo" value="option2">
                                             No
                                              <i class="input-helper"></i></label>
                                          </div>
                                        </div>
              
                                    </div>
                                  </div>
                              
                            </div>
                            <!-- PF join Date-->
                            <div class="form-group row">
                                
                                <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
              
                                          <label for="exampleInputJoiningDate" class=" col-form-label">PF join Date</label>
                                      </div>
                                      <div class="col-8">
                                        
                                        
                                <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                      </div>
              
                                    </div>
                                  </div>
                                
                              </div>
                              <!-- PF Scheme -->
                              <div class="form-group row">
                                
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label for="exampleInputPFSCheme" class=" col-form-label">PF Scheme</label>
                                    </div>
                                    <div class="col-8">
            
                                        <input type="text" class="form-control" id="txtPFScheme" placeholder="PF Scheme">
                                    </div>
            
                                  </div>
                                </div>
                               
                              </div>
                              <!-- UAN No. -->
                              <div class="form-group row">
                                
                                  <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label for="exampleInputIfscCode" class=" col-form-label">UAN No.</label>
                                      </div>
                                      <div class="col-8">
              
                                          <input type="text" class="form-control" id="txtUanNo" placeholder="UAN No">
                                      </div>
              
                                    </div>
                                  </div>
                                 
                                </div>
                                
                                <!-- Is existing member of PF -->
                            <div class="form-group row">
                              
                                <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label class="col-form-label">Is existing member of PF?</label>
                                      </div>
                                      <div class="col-4">
                                          
                                              <div class="form-radio">
                                                <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="existingRadio" id="rdYes" value=""
                                                    checked=""> Yes
                                                  <i class="input-helper"></i></label>
                                              </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="form-radio">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="existingRadio" id="rdNo" value="option2">
                                             No
                                              <i class="input-helper"></i></label>
                                          </div>
                                        </div>
              
                                    </div>
                                  </div>
                              
                            </div>

                            <!--Included in ESIC Scheme -->
                            <div class="form-group row">
                              
                                <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label class="col-form-label">Included in ESIC Scheme?</label>
                                      </div>
                                      <div class="col-4">
                                          
                                              <div class="form-radio">
                                                <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="EsicRadio" id="rdYes" value=""
                                                    checked=""> Yes
                                                  <i class="input-helper"></i></label>
                                              </div>
                                      </div>

                                      <div class="col-4">
                                          <div class="form-radio">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="EsicRadio" id="rdNo" value="option2">
                                             No
                                              <i class="input-helper"></i></label>
                                          </div>
                                        </div>
              
                                    </div>
                                  </div>
                              
                            </div>
                              
                                <!-- ESI No -->
                                <div class="form-group row">
                                  
                                    <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-4">
                                            <label for="exampleESINo" class=" col-form-label">ESI No</label>
                                        </div>
                                        <div class="col-8">
                
                                            <input type="text" class="form-control" id="txtESINo" placeholder="ESI No">
                                        </div>
                
                                      </div>
                                    </div>
                                    
                                    
                                  </div>
                                  
                                      
                                       
                           <!-- Buttons row -->
                            <div class="row">
                              <div class="col-8 offset-4" style="text-align: right">
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Save and continue</button>                  
                             
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                              </div>
                            </div>
          
                          </form>
                        </div>
                        
                      </div>
                    <!-- New Family End -->
                
            </div>
            <!-- previous histroy tab-->
            <div class="tab-pane" id="peHistory">

            

                    <div class="card-body">
                       <!-- Heading add bank button -->
                       <div class="row mb-3 mt-3">
                          <div class="col-6">
                    
                            <h4 class="card-description">Previous Employment Details</h4>
                          </div>
                    
                        </div>
                  <div id="tableDiv" *ngIf="show">

                  
                       
                    
                        <!-- Select Employee name -->
                        <div class="form-group row">
                          
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                              </div>
      
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row">
                               
                                <div class="col" style="text-align: right">
        
                                    <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3"  type="button" (click)="toggleShow()">Add Employement Details</button>
                                </div>
        
                              </div>
                            </div>
                          
                        </div>
    
                         <!--Company Details Table -->
                        <div class="table-responsive mb-4">
                          <table class="table" style="text-align:center">
                            <thead>
                              <tr>
                                
                                <th>Sr. No.</th>
                                <th>Employee Name</th>
                                <th>Employee Code</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Designation</th>
                                <th>Company Name</th>
                                <th>Company Address</th>
                                <th>Nature of Duties</th>                               
                                <th>Actions</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>12 june 2017</td>
                                <td>12 june 2018</td>
                                <td>Software Developer</td>
                                <td>XploreLogic Systems Pvt Ltd</td>
                                <td>Tilak Road</td>
                                <td>Development</td>                                
                                <td>Edit/delete</td>
                               
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Ravindra</td>
                                  <td>12345</td>
                                  <td>12 june 2017</td>
                                  <td>12 june 2018</td>
                                  <td>Software Developer</td>
                                  <td>XploreLogic Systems Pvt Ltd</td>
                                  <td>Tilak Road</td>
                                  <td>Development</td>                                
                                  <td>Edit/delete</td>
                                 
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Ravindra</td>
                                    <td>12345</td>
                                    <td>12 june 2017</td>
                                    <td>12 june 2018</td>
                                    <td>Software Developer</td>
                                    <td>XploreLogic Systems Pvt Ltd</td>
                                    <td>Tilak Road</td>
                                    <td>Development</td>                                
                                    <td>Edit/delete</td>
                                   
                                  </tr>
                                  
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div id="contentDiv" *ngIf="!show">

                      
                          <!-- Enter previous Company Details -->
                        <form class="forms-sample">
    
                          <!-- Select Employee Name -->
                            <div class="form-group row">
                              
                                <div class="col-md-12">
                                  <div class="row">
                                    <div class="col-2">
            
                                      <label for="exampleInputBankName" class=" col-form-label"> Select Employee </label>
                                    </div>
                                    <div class="col-4">
            
                                      <input type="text" class="form-control" id="txtBankName" placeholder="Enter Employee Name">
                                    </div>
            
                                  </div>
                                </div>
                                
                                
                              </div>
                              <!-- Experience 1 -->

                              <form class="forms-sample">
                                  <div class="form-group row">
                                    
                                      <div class="col-md-12">
                                        <div class="row">
                                          <div class="col-2">
                  
                                            <label for="exampleInputName" class=" col-form-label"> <h6>Experience 1</h6> </label>
                                          </div>
                                         
                  
                                        </div>
                                      </div>
                                      
                                    </div>
                              </form>
                              
                          
                            <!-- Previous Company Working Period-->
                            <div class="form-group row">
                                
                                <div class="col-md-4">
                                    <div class="row">
                                      <div class="col-4">
              
                                          <label for="exampleInputJoiningDate" class=" col-form-label">From</label>
                                      </div>
                                      <div class="col-8">
                                        
                                        
                                            <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                      </div>
              
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-2">
                
                                            <label for="exampleInputJoiningDate" class=" col-form-label">To</label>
                                        </div>
                                        <div class="col-4">
                                          
                                          
                                  <kendo-datepicker (valueChange)="onChange($event)" [navigation]="false"></kendo-datepicker>
                                        </div>
                
                                      </div>
                                    </div>
                                
                              </div>
                              <!--Company Name -->
                              <div class="form-group row">
                                
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-4">
                                        <label for="exampleInputCompanyName" class=" col-form-label">Company Name</label>
                                    </div>
                                    <div class="col-8">
            
                                        <input type="text" class="form-control" id="txtCompanyName" placeholder="Company Name">
                                    </div>
            
                                  </div>
                                </div>
                               
                              </div>
                              <!-- Company Address -->
                              <div class="form-group row">
                                
                                  <div class="col-md-6">
                                    <div class="row">
                                      <div class="col-4">
                                          <label for="exampleInputIfscCode" class=" col-form-label">Company Address</label>
                                      </div>
                                      <div class="col-8">
                                          <textarea _ngcontent-c2="" class="form-control" id="exampleTextarea1" rows="2"></textarea>
                                      </div>
              
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="row">
                                        <div class="col-4">
                                            <label for="exampleInputIfscCode" class=" col-form-label">Nature Of Duties</label>
                                        </div>
                                        <div class="col-8">
                                            <textarea _ngcontent-c2="" class="form-control" id="exampleTextarea1" rows="2"></textarea>
                                        </div>
                
                                      </div>
                                    </div>
                                 
                                </div>
                                
                                   
                                      
                                       
                           <!-- Buttons row -->
                            <div class="row">
                                <div class="col-6 " style="text-align: left">
                                    <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">+Add Experience</button>
                                </div>
                              <div class="col-6 " style="text-align: right">
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Back</button>
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Save and continue</button>                  
                             
                                  <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                              </div>
                              
                            </div>
          
                          </form>
                        </div>
                        
                      </div>
                    <!-- New Family End -->
               
            </div>
            <!-- Documents Tab -->
            <div class="tab-pane" id="documents">

              <div class="card-body">
                <h4 class="card-description">Upload Documents</h4>
                <form class="forms-sample">
                  <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-4">
                      <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                </form>

              </div>


            </div>

            <!-- Customized Report Tab -->
            <div class="tab-pane" id="CustomizedReport">

                <div class="card-body">
                    <!-- Title -->
                    <div class="row mb-3 mt-3">
                    
                        <div class="col-6">
                  
                          <h4 class="card-description">Customized Rreport</h4>
                        </div>
                  
                      </div>
                
  
                    <div id="tableDiv" >
  
                    
                       <!-- Download Excel/PDF -->
                     
                       <div class="form-group row">
                            
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSelectEmployee" class=" col-form-label">Customized HR Report</label>
                              </div>
                              <div class="col-6">
      
                                  <button class="btn btn-primary btn-fw"  type="button" (click)="toggleShow()">Download in Excel/PDF</button>
                                </div>
      
                            </div>
                          </div>
                        </div>
                        <!-- Add Field -->

                        <div class="form-group row">
                            
                          <div class="col-md-6">
                            <div class="row pos-rel">
                              <div class="col-4">
                                  <label for="exampleInputAddField" class=" col-form-label">Add Field</label>
                              </div>
                              <div class="col-6">
      
                                <input type="text" class="form-control " id="txtField" (click)=" showDropDowns()" placeholder="Enter Field">
                                
                                <div  class="form-control fieldDropDown" *ngIf="showDropDown">
                                  <div>
                                    <div class="field ml-3" *ngFor = "let field of fields" >
                                       <label for="exampleInputAddField" class=" col-form-label">{{field}}</label> 
                                    </div>
                                  </div>
                                </div>

                              </div>
      
                            </div>
                          </div>
                        </div>
                       <!-- Add Subfield -->
                       <div class="form-group row">
                            
                          <div class="col-md-6">
                            <div class="row pos-rel">
                              <div class="col-4">
                                  <label for="exampleInputAddField" class=" col-form-label">Add Sub Field</label>
                              </div>
                              <div class="col-6">
      
                                <input type="text" class="form-control " id="txtField" (click)=" toggleDropDown()" placeholder="Enter Field">
                                
                                <div  class="form-control fieldDropDown" *ngIf="showSubDropDown">
                                  
                                          <div class="form-check form-check-flat field ml-3" *ngFor = "let field of subFieled">
                                              <label class="form-check-label ml-3">
                                                <input type="checkbox" class="form-check-input" checked="">  {{field}}
                                              <i class="input-helper"></i></label>
                                            </div>
                                     
                                </div>

                              </div>
      
                            </div>
                          </div>
                        </div>
                     
                       <!-- ------- Table Data -->
                       <div class="table-responsive mb-4">
                        <table class="table" style="text-align:center">
                          <thead>
                            <tr>
                              
                              <th>Sr. No.</th>
                              <th>Employee Name</th>
                              <th>Employee Code</th>
                              <th>Bank Name</th>
                              <th>Bank Branch</th>
                              <th>Account No.</th>
                              <th>IFSC Code</th>
                              <th>Account Type</th>
                              <th>Payment type</th>
                              <th>DD Payable At </th>
                              <th>Probation Period</th>
                              <th>Name as per bank record</th>
                              <th>Actions</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Ravindra</td>
                              <td>12345</td>
                              <td>State Bank of India</td>
                              <td>Pimple Saudagar</td>
                              <td>203268141</td>
                              <td>SBIN0014578</td>
                              <td>Saving</td>
                              <td>Online</td>
                              <td>Sbi</td>
                              <td>6</td>
                              <td>Ravindra Suresh Pawar</td>
                              <td>Edit/delete</td>
                             
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ravindra</td>
                                <td>12345</td>
                                <td>State Bank of India</td>
                                <td>Pimple Saudagar</td>
                                <td>203268141</td>
                                <td>SBIN0014578</td>
                                <td>Saving</td>
                                <td>Online</td>
                                <td>Sbi</td>
                                <td>6</td>
                                <td>Ravindra Suresh Pawar</td>
                                <td>Edit/delete</td>
                               
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Ravindra</td>
                                  <td>12345</td>
                                  <td>State Bank of India</td>
                                  <td>Pimple Saudagar</td>
                                  <td>203268141</td>
                                  <td>SBIN0014578</td>
                                  <td>Saving</td>
                                  <td>Online</td>
                                  <td>Sbi</td>
                                  <td>6</td>
                                  <td>Ravindra Suresh Pawar</td>
                                  <td>Edit/delete</td>
                                 
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Ravindra</td>
                                    <td>12345</td>
                                    <td>State Bank of India</td>
                                    <td>Pimple Saudagar</td>
                                    <td>203268141</td>
                                    <td>SBIN0014578</td>
                                    <td>Saving</td>
                                    <td>Online</td>
                                    <td>Sbi</td>
                                    <td>6</td>
                                    <td>Ravindra Suresh Pawar</td>
                                    <td>Edit/delete</td>
                                   
                                  </tr>
                          </tbody>
                        </table>
                      </div>

                   
                  </div>
  
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>