/* Structure */
.pos-rel {
  position: relative;
}
.fieldDropDown {
  position: absolute;
  z-index: 1;
  width: 90%;
  max-height: 175px;
  background:white;
  overflow-y: auto;
  padding: 0%;
}

thead {
  background-color: #26b2cf;
  color: white;
}

.field:hover {
  background-color: #3093d4;
  color: white;
}

.form-check.form-check-flat label input:checked + .input-helper:before {
  background-color: #3093d4;
  border: none;
  
}

.form-check .form-check-label input:checked + .input-helper:after {
 
  width: 18px;
  opacity: 1;
  line-height: 18px;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}