<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Leave Approval</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv"  >

            <!-- Select Employee -->
              <div class="form-group row">
                          
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-4">
                          <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                      </div>
                      <div class="col-8">

                          <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Leave Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Employee Name</th>
                        <th>Employee Code</th>
                        <th>Leave Date</th>
                        <th>Leave Days</th>
                        <th>Leave Type</th>
                        <th>PL </th>
                        <th>CL</th>
                        <th>SL</th>
                        <th>Comp Off</th>
                        <th>Status</th>
                        <th>Reporting Manager</th>
                        <th>Approved By</th>
                        <th>Approved Date</th>
                        <th>HR Approval</th>
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ravindra Pawar</td>
                        <td>1234</td>
                        <td>16 Oct 2018</td>
                        <td>5</td>
                        <td>Seak</td> 
                        <td>A</td> 
                        <td>B</td> 
                        <td>C</td> 
                        <td>123</td> 
                        <td>OnLeave</td>
                        <td>Mr. Mahesh</td> 
                        <td>Mr.Ashish</td> 
                        <td>12 June 1994</td>
                        <td>Done</td>  
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Ravindra Pawar</td>
                          <td>1234</td>
                          <td>16 Oct 2018</td>
                          <td>5</td>
                          <td>Seak</td> 
                          <td>A</td> 
                          <td>B</td> 
                          <td>C</td> 
                          <td>123</td> 
                          <td>OnLeave</td>
                          <td>Mr. Mahesh</td> 
                          <td>Mr.Ashish</td> 
                          <td>12 June 1994</td>
                          <td>Done</td>  
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ravindra Pawar</td>
                            <td>1234</td>
                            <td>16 Oct 2018</td>
                            <td>5</td>
                            <td>Seak</td> 
                            <td>A</td> 
                            <td>B</td> 
                            <td>C</td> 
                            <td>123</td> 
                            <td>OnLeave</td>
                            <td>Mr. Mahesh</td> 
                            <td>Mr.Ashish</td> 
                            <td>12 June 1994</td>
                            <td>Done</td>  
                            <td>Edit/delete</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Ravindra Pawar</td>
                              <td>1234</td>
                              <td>16 Oct 2018</td>
                              <td>5</td>
                              <td>Seak</td> 
                              <td>A</td> 
                              <td>B</td> 
                              <td>C</td> 
                              <td>123</td> 
                              <td>OnLeave</td>
                              <td>Mr. Mahesh</td> 
                              <td>Mr.Ashish</td> 
                              <td>12 June 1994</td>
                              <td>Done</td>  
                              <td>Edit/delete</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
                  <!-- Buttons row -->
                  <div class="row">
                      <div class="col-6 offset-6" style="text-align: right">
                          <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="onClickMe($event)">Export to Excel</button>                  
                     
                      </div>
                    </div>
          </div>



           </div>
          </div>
        </div>
      </div>
    </div>

           