a.active{
    background-color:rgb(242, 248, 249);
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover{
    background-color:rgb(242, 248, 249);
}
#sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

}
.dropdown-item{
    font-size:12px;
}
