<div class="container-scroller">
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo">
          <img src="assets/images/techno-logo.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" >
          <img src="assets/images/logo-mini.svg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
     
          </li>
          <li class="nav-item active">
          
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                </p>
                <span class="badge badge-pill badge-warning float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                  <p class="font-weight-light small-text">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                  <p class="font-weight-light small-text">
                    Private message
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-email-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                  <p class="font-weight-light small-text">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, Jhon Doe !</span>
              <img class="img-xs rounded-circle" src="assets/images/faces/face1.jpg" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

              <h5 class="mt-2" style="font-size:13px; font-weight: bold; margin-left: 24px; padding-top: 10px; text-transform: uppercase"> 
                Mahesh Bodhgire 
              </h5>
              <h6 class="dropdown-item">
                <span style="font-weight: bold">Emp Code : </span> 420001
              </h6>
              <h6 class="dropdown-item">
              <span style="font-weight: bold">Department : </span> Sales
              </h6>
              <h6 class="dropdown-item">
                  <span style="font-weight: bold">Designation : </span> Sales Manager
              </h6>
              <h6 class="dropdown-item">
                  <span style="font-weight: bold">Report To : </span> Shivaji Kute
              </h6>
              <hr>
              <a class="dropdown-item" style="cursor:pointer;font-size:13px; font-weight: bold;" [routerLink]="['/login']" [routerLinkActive]="['active']">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li class="nav-item nav-profile">
                <div class="nav-link" style="margin-top:93px;">
                  <div class="user-wrapper">
                    <div class="profile-image">
                      <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                      <p class="profile-name">John Doe</p>
                      <div>
                        <small class="designation text-muted">Manager</small>
                        <span class="status-indicator online"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/menu/hrdashboard']" [routerLinkActive]="['active']">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title" >Dashboard</span>
                </a>
            </li>
            <!-- Employee Master -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#employeemaster" aria-expanded="false" aria-controls="ui-basic">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title">Employee Master</span>
                  <i class="menu-arrow"></i>
                </a>
                <!-- Personel Info Master -->
                <div class="collapse" id="employeemaster">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/employeemaster']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                       Personel Info Master
                      </a>
                    </li>
                    <!-- Salary Master -->
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/salarymaster']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                        Salary Master
                      </a>
                    </li>
                    <!-- Leave and Holiday Master -->
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/leavesmaster']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                        Leave And Holiday <br/>Master
                      </a>
                    </li>
                    
                  </ul>
                </div>
              </li>
              <!-- MasterData -->
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#masterdata" aria-expanded="false" aria-controls="ui-basic">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title">Master Data</span>
                  <i class="menu-arrow"></i>
                </a>
                
                <div class="collapse" id="masterdata">
                  <ul class="nav flex-column sub-menu">
                   
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/designationmaster']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                        Designation Master
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/locatiomaster']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                        Location Master
                      </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/departmentmaster']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Department Master
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/hiearchy']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Hierarchy Manager
                        </a>
                      </li>
                  </ul>
                </div>
              </li>
              <!-- Generate Letters -->
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#generateletters" aria-expanded="false" aria-controls="ui-basic">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title">Generate Letters</span>
                  <i class="menu-arrow"></i>
                </a>
                  
                <div class="collapse" id="generateletters">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/offerletter']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                       Offer Letter
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/appointmentletter']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                      Appointment letter
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/confirmationletter']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                      Confirmation letter
                      </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/probationextension']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Probation extension<br/> letter
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/increamnetletter']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          	Increment/ <br/>promotion letter
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/experienceletter']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Experience letter
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/relievingletter']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Relieving letter
                        </a>
                      </li>
                  </ul>
                </div>
                </li>
                <!-- Leaves and Attendance -->
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#leaves" aria-expanded="false" aria-controls="ui-basic">
                  <i class="menu-icon mdi mdi-medical-bag"></i>
                  <span class="menu-title">Leaves and Attendance</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="leaves">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/viewLeave']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                      View Leave approvals 
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/menu/employeeleave']" [routerLinkActive]="['active']">
                      <i class="menu-icon mdi mdi-chevron-right"></i>
                      Employee Leave <br/>history And Summary
                      </a>
                    </li>
                   
                    
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/holidaycalendar']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Holiday Calendar 
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/requestcompoff']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                           Comp Off Requests 
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/menu/attendanceRegualries']" [routerLinkActive]="['active']">
                          <i class="menu-icon mdi mdi-chevron-right"></i>
                          Attendance regularise  
                        </a>
                      </li>
                  </ul>
                </div>
              </li>
              <!-- Salary -->
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/menu/salary']" [routerLinkActive]="['active']">
                    <i class="menu-icon mdi mdi-currency-inr"></i>
                    <span class="menu-title" >Salary</span>
                    
                  </a>
              </li>
                <!-- IT,PF and Esic -->
              
                <li class="nav-item">
                                   <a class="nav-link" data-toggle="collapse" href="#it-pf-esic" aria-expanded="false" aria-controls="ui-basic">
                                     <i class="menu-icon mdi mdi-file-document"></i>
                                     <span class="menu-title">Statutory</span>
                                     <i class="menu-arrow"></i>
                                   </a>
                                   <div class="collapse" id="it-pf-esic">
                                     <ul class="nav flex-column sub-menu">
                                       <li class="nav-item">
                                         <a class="nav-link" data-toggle="collapse" href="#it" aria-expanded="false" aria-controls="ui-basic">
                                             <i class="menu-icon mdi mdi-chevron-right"></i>
                                             <span class="menu-title">IT</span>
                                             <i class="menu-arrow" style="margin-right:18px"></i>
                                         </a>
                                         <div class="collapse" id="it">
                                         <ul class="nav flex-column">
                                             <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['/menu/proofofinvestment']" style="cursor:pointer">
                                                 <a class="nav-link" >
                                                     <i class="menu-icon mdi mdi-chevron-right"></i>
                                                   Proof Of Investment
                                                 </a>
                                               </li>
                                              
                                         </ul>
                                         </div>
                                       </li>
                 
                                       <li class="nav-item">
                                          <a class="nav-link" [routerLink]="['/menu/pf']" [routerLinkActive]="['active']">
                                              <i class="menu-icon mdi mdi-chevron-right"></i>
                                              PF
                                          </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/menu/esic']" [routerLinkActive]="['active']">
                                                <i class="menu-icon mdi mdi-chevron-right"></i>
                                              ESIC
                                            </a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" [routerLink]="['/menu/pt']" [routerLinkActive]="['active']">
                                                  <i class="menu-icon mdi mdi-chevron-right"></i>
                                               PT
                                              </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" [routerLink]="['/menu/otheracts']" [routerLinkActive]="['active']">
                                                    <i class="menu-icon mdi mdi-chevron-right"></i>
                                                    Other labour acts 
                                                </a>
                                              </li>
                                     </ul>
                                   </div>
                                 </li>
                  <!-- Company Policies -->
              <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" [routerLink]="['/menu/leavepolicy']" [routerLinkActive]="['active']" aria-expanded="false" aria-controls="ui-basic">
                      <i class="menu-icon mdi mdi-file-document"></i>
                      <span class="menu-title">Company Policies</span>
                      
                    </a>
                   
              </li>
            </ul>
          </nav>
          <div class="main-panel">
              <div class="content-wrapper" style="margin-left:255px">
                <router-outlet></router-outlet>
            </div>
          </div>
        
    </div>

</div>
