<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
        
  
  
            <div class="card-body">
              <!-- Title -->
              <div class="row mb-3 mt-3">
                <div class="col-6">
  
                  <h4 class="card-description">Attendance Regualarization</h4>
                </div>
  
              </div>
              <!-- Table DIV Starts here -->
              <div id="tablediv" >
  
  
                <!--  Data Table -->
  
                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Designation </th>
                        <th colspan="2">Biometric</th>
                        <th colspan="2">Change Request</th>
                        <th>Approve/Reject</th>
                        <th>Comment</th>
                      </tr>
                      <tr>
                         
                          <td colspan="3" style="background-color: white"></td>
                          <td > In Time</td>
                          <td >Out Time</td>
                          <td > In Time</td>
                          <td >Out Time</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ravindra Pawar</td>
                        <td>Software Developer</td>
                        <td>9.30</td>
                        <td>6.30</td>
                        <td>9.30</td>
                        <td>6.30</td>
                        <td>Approved</td>
                        <td>On Filed</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Ravindra Pawar</td>
                          <td>Software Developer</td>
                          <td>9.30</td>
                          <td>6.30</td>
                          <td>9.30</td>
                          <td>6.30</td>
                          <td>Approved</td>
                          <td>On Filed</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Ravindra Pawar</td>
                            <td>Software Developer</td>
                            <td>9.30</td>
                            <td>6.30</td>
                            <td>9.30</td>
                            <td>6.30</td>
                            <td>Approved</td>
                            <td>On Filed</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Ravindra Pawar</td>
                              <td>Software Developer</td>
                              <td>9.30</td>
                              <td>6.30</td>
                              <td>9.30</td>
                              <td>6.30</td>
                              <td>Approved</td>
                              <td>On Filed</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->

                <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                      <button class="btn btn-primary btn-fw ml-3" type="button">Close</button>
  
                    </div>
                  </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  