<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Salary Master</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv"  *ngIf="show">


              <form class="forms-sample">
                <!-- No of Employees on Payroll -->
                      <div class="form-group row">
                        <!-- Designation name row -->
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">

                              <label for="exampleInputDesigNoofEmployees" class=" col-form-label">No. of Employees on Payroll</label>
                            </div>
                            <div class="col-8">
                                
                                <input type="text" class="form-control" id="txtNoofEmployees" placeholder="No of Employes on Payroll">
                            </div>

                          </div>
                        </div>
                          <!-- Location  -->
                        <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputRole" class=" col-form-label">Location</label>
                              </div>
                              <div class="col-8">
                                  <select class="form-control">
                                      <option >Pune</option>
                                      <option >Mumbai</option>
                                      <option >Kolkatta</option>
                                      <option >Chennai</option>
                                    </select>
                              </div>
      
                            </div>
                          </div>
                    
                      </div>
                  
                       <!-- Department Row -->
                      <div class="form-group row">
                         
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputDepartment" class=" col-form-label">Department</label>
                              </div>
                              <div class="col-8">
                                  <select class="form-control">
                                    <option >Development</option>
                                    <option >Testing</option>
                                    <option >Atchitecture</option>
                                    <option >Analysis</option>
                                  </select>
                              </div>
      
                            </div>
                          </div>
                          <!-- Designation -->

                          <div class="col-md-6">
                              <div class="row">
                                <div class="col-4">
                                    <label for="exampleInputDepartment" class=" col-form-label">Designation</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-control">
                                        <option >Developer</option>
                                        <option >Tester</option>
                                        <option >Atchitect</option>
                                        <option >CEO</option>
                                      </select>
                                </div>
        
                              </div>
                            </div>
                      </div>
                      <!-- Select Employee -->
                      <div class="form-group row">
                         
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputSelectEmployee" class=" col-form-label">Select Employee</label>
                              </div>
                              <div class="col-8">
                                  
                                  <input type="text" class="form-control" id="txtSelectEmployee" placeholder="Select Employee">
                              </div>
      
                            </div>
                          </div>
                          
                      </div>
                </form>

                  <!-- Table -->
                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      
                      <tr>
                        <th>Sr. No.</th>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Location</th>
                        <th>Department</th>
                        <th>Designation </th>                     
                        <th>CTC</th>
                        <th colspan="4" id="head">Gross</th>
                        <th colspan="6" id="head">Deduction</th>
                        <th>Net Payable</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="background-color: #26b2cf;color: white;">
                        <td colspan="7" style="background-color: white;"></td>
                        <td>A</td>
                        <td>B</td>
                        <td>C</td>
                        <td>D</td>
                        <td>PF</td>
                        <td>PT</td>
                        <td>ESIC</td>
                        <td>TDS</td>
                        <td>Insurance</td>
                        <td>Other</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>123456</td>
                        <td>Ravindra Pawar</td>
                        <td>Pune</td>
                        <td>Development</td>
                        <td>Software Developer</td>                        
                        <td>300000</td>
                        <!-- colspan 4 Fienld -->
                        <td>2000</td>
                        <td>2112</td>
                        <td>4646</td>
                        <td>131</td>
                        <!-- Deduction Field -->
                        <td>115</td>
                        <td>545</td>
                        <td>244</td>
                        <td>24</td>
                        <td>212</td>
                        <td>442</td>

                        <!-- Net Pay -->
                        <td>50000</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>123456</td>
                          <td>Ravindra Pawar</td>
                          <td>Pune</td>
                          <td>Development</td>
                          <td>Software Developer</td>                        
                          <td>300000</td>
                          <!-- colspan 4 Fienld -->
                          <td>2000</td>
                          <td>2112</td>
                          <td>4646</td>
                          <td>131</td>
                          <!-- Deduction Field -->
                          <td>115</td>
                          <td>545</td>
                          <td>244</td>
                          <td>24</td>
                          <td>212</td>
                          <td>442</td>
  
                          <!-- Net Pay -->
                          <td>50000</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>123456</td>
                            <td>Ravindra Pawar</td>
                            <td>Pune</td>
                            <td>Development</td>
                            <td>Software Developer</td>                        
                            <td>300000</td>
                            <!-- colspan 4 Fienld -->
                            <td>2000</td>
                            <td>2112</td>
                            <td>4646</td>
                            <td>131</td>
                            <!-- Deduction Field -->
                            <td>115</td>
                            <td>545</td>
                            <td>244</td>
                            <td>24</td>
                            <td>212</td>
                            <td>442</td>
    
                            <!-- Net Pay -->
                            <td>50000</td>
                          </tr><tr>
                              <td>1</td>
                              <td>123456</td>
                              <td>Ravindra Pawar</td>
                              <td>Pune</td>
                              <td>Development</td>
                              <td>Software Developer</td>                        
                              <td>300000</td>
                              <!-- colspan 4 Fienld -->
                              <td>2000</td>
                              <td>2112</td>
                              <td>4646</td>
                              <td>131</td>
                              <!-- Deduction Field -->
                              <td>115</td>
                              <td>545</td>
                              <td>244</td>
                              <td>24</td>
                              <td>212</td>
                              <td>442</td>
      
                              <!-- Net Pay -->
                              <td>50000</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
          </div>


          <div id="contentDiv"  *ngIf="!show">


                <form class="forms-sample">
                
                  <div class="form-group row">
                    <!-- Designation name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputDesigName" class=" col-form-label">Designation name</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtDesignationName" placeholder="Dssignation Name">
                        </div>

                      </div>
                    </div>
                    <!-- location row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputLocation" class=" col-form-label">Location</label>
                        </div>
                        <div class="col-8">
                          
                            <input type="text" class="form-control" id="txtLocation" placeholder="Location">
                          
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <!-- Role row -->
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
                              <label for="exampleInputRole" class=" col-form-label">Role</label>
                          </div>
                          <div class="col-8">
  
                              <input type="text" class="form-control" id="txtRole" placeholder="Role">
                          </div>
  
                        </div>
                      </div>
                    
                    </div>

                    <div class="form-group row">
                        <!-- Hierarchy level -->
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputHierarchyLevel" class=" col-form-label">Hierarchy Level</label>
                            </div>
                            <div class="col-8">
    
                                <input type="text" class="form-control" id="txtHierarchyLevel" placeholder="HierarchyLevel">
                            </div>
    
                          </div>
                        </div>
                      
                      </div>

                      <div class="form-group row">
                          <!-- Department Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputDepartment" class=" col-form-label">Department</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtDepartment" placeholder="Department">
                              </div>
      
                            </div>
                          </div>
                         
                        </div>

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Create</button>                  
                   
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>
              </div>
              <!-- dfvbfu -->

           </div>
          </div>
        </div>
      </div>
    </div>

           