<!-- First Row -->
<div class="row">
  <!-- Quick Action Card -->
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
    <div class="card" style="height:200px">
      <div class="card-header crd-header">
        <h5 class="card-title mb-2" style="padding-top:5px;">Manage Users</h5>
      </div>
      <div class="card-body" style="overflow-y: scroll;">
      
        
      </div>
    </div>
  </div>
  <!-- Company Updates -->
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
    <div class="card" style="height:200px">
      <div class="card-header crd-header">
        <h5 class="card-title mb-2" style="padding-top: 5px;">Letters</h5>
      </div>
      <div class="card-body" style="overflow-y: scroll;">
        
      </div>
    </div>
  </div>

  <!-- Third Row -->
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
    <div class="card" style="height:200px">
      <div class="card-header crd-header">
        <h5 class="card-title mb-2" style="padding-top: 5px;">Company News</h5>
      </div>
      <div class="card-body" style="overflow-y: scroll;">
        <!-- <h5 class="card-title mb-4" style="padding-top: 25px;">Company Updates</h5> -->
       
      </div>
    </div>
  </div>
  <!-- Third Row ends Here -->
</div>

<!-- sencod row for notes and calender -->

<div class="row">
  <!-- Main Row Contains 2 rows -->
  <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 grid-margin stretch-card" style="display:block">
    <!-- First Row -->
    <div class="row">
      <!-- Quick Action Card -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">

        <div class="card" style="height:195px">
          <div class="card-header crd-header">
            <h5 class="card-title mb-2" style="padding-top:5px;">Manage Leaves</h5>
          </div>
          <div class="card-body" style="overflow-y: scroll;">
            
           
            

            
          </div>
        </div>
      </div>
      <!-- Company Updates -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
        <div class="card" style="height:195px">
          <div class="card-header crd-header">
            <h5 class="card-title mb-2" style="padding-top:5px;">Payroll Process</h5>
          </div>
          <div class="card-body" style="overflow-y: scroll;">
            
          </div>
        </div>
      </div>
    </div>
    <!-- Second Row -->

    <div class="row">
      <!-- Quick Action Card -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
        <div class="card" style="height:200px">
          <div class="card-header crd-header">
            <h5 class="card-title mb-2" style="padding-top:5px;">Statutory dues</h5>
          </div>
          <div class="card-body" style="overflow-y: scroll;">
            
          </div>
        </div>
      </div>
      <!-- Company Updates -->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
        <div class="card" style="height:200px">
          <div class="card-header crd-header">
            <h5 class="card-title mb-2" style="padding-top:5px;">HR Notes</h5>
          </div>
          <div class="card-body" style="overflow-y: scroll;">
            
          </div>
        </div>

      </div>
    </div>


  </div>
  <!-- Row for calender and events -->
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card">
      
          <!-- Quick Action Card -->
    
            <div class="card" style="height:100%">
              <div class="card-header crd-header">
                <h5 class="card-title mb-2" style="padding-top:5px;">Calendar</h5>
              </div>
              <div class="card-body" style="overflow-y: scroll;">
                
               
               
              </div>
            </div>
          
      
  
  </div>

</div>




<!--Payslip modal start-->
<div class="modal fade" id="payslip" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payslip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div style="margin-left:20px;">
              <h6>Oct 2018</h6>
              <div class="row">
                <div class="col-md-9 modal-text">
                  Gross Pay
                </div>
                <div class="col-md-3 modal-text">
                  45000.00
                </div>
                <div class="col-md-9 modal-text">
                  Deduction
                </div>
                <div class="col-md-3 modal-text">
                  5000.00
                </div>
                <div class="col-md-9 modal-text">
                  Net Pay
                </div>
                <div class="col-md-3 modal-text">
                  40000.00
                </div>
              </div>
              <div>
                <button type="button" class="btn-popup" data-dismiss="modal">View Payslips</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Payslip modal end-->

<!--Annual Earnings modal start-->
<div class="modal fade" id="annual-earnings" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Annual Earnings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div style="margin-left:20px;">
              <h6>2018 - 2019</h6>
              <div class="row">
                <div class="col-md-9 modal-text">
                  Gross Pay
                </div>
                <div class="col-md-3 modal-text">
                  540000.00
                </div>
                <div class="col-md-9 modal-text">
                  Deduction
                </div>
                <div class="col-md-3 modal-text">
                  60000.00
                </div>
                <div class="col-md-9 modal-text">
                  Net Pay
                </div>
                <div class="col-md-3 modal-text">
                  480000.00
                </div>
              </div>
              <div>
                <button type="button" class="btn-popup" data-dismiss="modal">View YTD Summery</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Annual Earnings modal end-->



<!--IT modal start-->
<div class="modal fade" id="income-tax" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Income Tax</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div style="margin-left:20px;">
              <div class="row">
                <div class="col-md-9 modal-text">
                  Annual Taxable Income
                </div>
                <div class="col-md-3 modal-text">
                  540000.00
                </div>
                <div class="col-md-9 modal-text">
                  Income Tax
                </div>
                <div class="col-md-3 modal-text">
                  40000.00
                </div>
                <div class="col-md-9 modal-text">
                  Tax Paid Till Date
                </div>
                <div class="col-md-3 modal-text">
                  20000.00
                </div>
                <div class="col-md-9 modal-text">
                  Balance To Pay
                </div>
                <div class="col-md-3 modal-text">
                  20000.00
                </div>
              </div>
              <div>
                <button type="button" class="btn-popup" data-dismiss="modal">View IT Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--IT modal end-->


<!--PF modal start-->
<div class="modal fade" id="pf" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Annual PF Savings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div style="margin-left:20px;">
              <h6>2018 - 2019</h6>
              <div class="row">
                <div class="col-md-9 modal-text">
                  Employee Contribution
                </div>
                <div class="col-md-3 modal-text">
                  14400.00
                </div>
                <div class="col-md-9 modal-text">
                  Employee Contribution
                </div>
                <div class="col-md-3 modal-text">
                  14400.00
                </div>
                <div class="col-md-9 modal-text">
                  Total
                </div>
                <div class="col-md-3 modal-text">
                  28800.00
                </div>
              </div>
              <div>
                <button type="button" class="btn-popup" data-dismiss="modal">View PF Statement</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--PF modal end-->

<!--modal start-->
<div class="modal fade" id="addnote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10">
            <textarea rows="4" style="color: black" class="form-control" aria-describedby="note" placeholder="Add note"
              name="note" [(ngModel)]='note'>

                </textarea>
          </div>
          <div class="col-md-2">
            <button type="button" class="add-note-btn" data-dismiss="modal" (click)='pushtolist()' style="margin-top:25px;background-color: #5669a5;color: white;border: none;cursor: pointer;"><i
                class="menu-icon mdi mdi-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal end-->