
.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }

  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .leave-btn{
    height: 30px;
    width: 130px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}
.add-note{
  color:white; 
  border-color:white;
  height: 30px;
  font-size: 12px;
  width: 110px;
  margin-left: 47%;
  background: transparent;
  margin-top:1px;
}



  .crd-header{
    background-color: #00a4c7d9 !important;
  }


.card-subtitle{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #404852;
  font-size: 14px;
  text-transform: capitalize;
}
.btn-outline-primary:hover {
  background-color: #065565d9;
}

.calender-text{
  text-align:justify;
  font-size:12px;
}

.view-more{

  font-size: 12px;
  margin-left: 26%;

}
.quick-action-salary{
  cursor: pointer;
}
.quick-action-salary:hover{
}

.modal-text{
font-size:14px;
}
.btn-popup{
  margin-top: 7%;
  margin-left: 33%;
  padding: 0px 20px 0px 20px;
  font-size: 12px;
  color: white;
  height: 30px;
  width: auto;
  background-color: #5669a5;
  border: none;
  cursor: pointer;
}
