<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Designation Master</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv"  *ngIf="show">


                <!-- Heading add designation button -->
                <div class="row mb-3 mt-3">
                  
                  <div class="col-6 offset-6" style="text-align: right;">

                    <button type="button" class="btn btn-primary btn-fw" (click)="toggleShow()">Add Designation</button>

                  </div>
                </div>
                <!-- Designation Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Designation</th>
                        <th>Hierarchy level</th>
                        <th>Department</th>
                        <th>No. of Employees</th>
                        <th>Status </th>                     
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Software Developer</td>
                        <td>abcd</td>
                        <td>development</td>
                        <td>15</td>
                        <td>working</td>                        
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Software Developer</td>
                          <td>abcd</td>
                          <td>development</td>
                          
                          <td>15</td>
                          <td>working</td>                        
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Software Developer</td>
                            <td>abcd</td>
                            <td>development</td>
                           
                            <td>15</td>
                            <td>working</td>                        
                            <td>Edit/delete</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Software Developer</td>
                              <td>abcd</td>
                              <td>development</td>
                           
                              <td>15</td>
                              <td>working</td>                        
                              <td>Edit/delete</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
          </div>


          <div id="contentDiv"  *ngIf="!show">


                <form class="forms-sample">
                
                  <div class="form-group row">
                    <!-- Designation name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputDesigName" class=" col-form-label">Designation name</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtDesignationName" placeholder="Dssignation Name">
                        </div>

                      </div>
                    </div>
                    <!-- location row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputLocation" class=" col-form-label">Location</label>
                        </div>
                        <div class="col-8">
                          
                            <input type="text" class="form-control" id="txtLocation" placeholder="Location">
                          
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                      <!-- Role row -->
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-4">
                              <label for="exampleInputRole" class=" col-form-label">Role</label>
                          </div>
                          <div class="col-8">
  
                              <input type="text" class="form-control" id="txtRole" placeholder="Role">
                          </div>
  
                        </div>
                      </div>
                    
                    </div>

                    <div class="form-group row">
                        <!-- Hierarchy level -->
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-4">
                                <label for="exampleInputHierarchyLevel" class=" col-form-label">Hierarchy Level</label>
                            </div>
                            <div class="col-8">
    
                                <input type="text" class="form-control" id="txtHierarchyLevel" placeholder="HierarchyLevel">
                            </div>
    
                          </div>
                        </div>
                      
                      </div>

                      <div class="form-group row">
                          <!-- Department Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputDepartment" class=" col-form-label">Department</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtDepartment" placeholder="Department">
                              </div>
      
                            </div>
                          </div>
                         
                        </div>

                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Create</button>                  
                   
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>
              </div>
              <!-- dfvbfu -->

           </div>
          </div>
        </div>
      </div>
    </div>

           