<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  

              <div class="card-body">
                <!-- Card Title -->
                  <div class="row mb-3 mt-3">
                      <div class="col-6">
    
                        <h4 class="card-description">Department Master</h4>
                      </div>
                     
                    </div>
          <!-- Table DIV Starts here -->
          <div id="tablediv" *ngIf="show" >


                <!-- Heading add designation button -->
                <div class="row mb-3 mt-3">
                  
                  <div class="col-6 offset-6" style="text-align: right;">

                    <button type="button" class="btn btn-primary btn-fw" (click)="toggleShow()">Add Department</button>

                  </div>
                </div>
                <!-- Designation Data Table -->

                <div class="table-responsive mb-4">
                  <table class="table" style="text-align:center">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Location</th>
                        <th>No of Employees</th>                     
                        <th>Action</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Development</td>
                        <td>Software Developer</td>
                        <td>Pune</td>
                        <td>10</td>              
                        <td>Edit/delete</td>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Development</td>
                          <td>Software Developer</td>
                          <td>Pune</td>
                          <td>10</td>              
                          <td>Edit/delete</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Development</td>
                            <td>Software Developer</td>
                            <td>Pune</td>
                            <td>10</td>              
                            <td>Edit/delete</td>
                          </tr>
                          <tr>
                              <td>1</td>
                              <td>Development</td>
                              <td>Software Developer</td>
                              <td>Pune</td>
                              <td>10</td>              
                              <td>Edit/delete</td>
                            </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Table DIV ends HERE -->
          </div>


          <div id="contentDiv" *ngIf="!show" >


                <form class="forms-sample">
                
                  <div class="form-group row">
                    <!-- Department name row -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-4">

                          <label for="exampleInputDepartmentName" class=" col-form-label">Department Name</label>
                        </div>
                        <div class="col-8">

                          <input type="text" class="form-control" id="txtDepartmentName" placeholder="DepartmentName">
                        </div>

                      </div>
                    </div>
                  
                  </div>

                  <div class="form-group row">
                      <!-- Role row -->
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-2">
                              <label for="exampleInputState" class=" col-form-label">Select Designation</label>
                          </div>
                          <div class="col-10 form-group">

                            <div class="row">
                              <div class="col-md-3">
                                  <div class="form-check form-check-flat">
                                      <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Software Developer
                                      <i class="input-helper"></i></label>
                                    </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-check form-check-flat">
                                      <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked=""> Tester
                                      <i class="input-helper"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check form-check-flat">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked=""> Atchitect
                                        <i class="input-helper"></i></label>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-check form-check-flat">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input"  checked=""> CEO
                                          <i class="input-helper"></i></label>
                                        </div>
                                    </div>

                            </div>

                          </div>
  
                        </div>
                      </div>
                       
                    
                    </div>

                      <div class="form-group row">
                          <!-- Country Row -->
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-4">
                                  <label for="exampleInputLocation" class=" col-form-label">Location</label>
                              </div>
                              <div class="col-8">
      
                                  <input type="text" class="form-control" id="txtLocation" placeholder="Location">
                              </div>
      
                            </div>
                          </div>
                          
                         
                        </div>


                 <!-- Buttons row -->
                  <div class="row">
                    <div class="col-6 offset-6" style="text-align: right">
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button">Create</button>                  
                   
                        <button _ngcontent-c2="" class="btn btn-primary btn-fw ml-3" type="button" (click)="toggleShow()">Cancel</button>
                    </div>
                  </div>

                </form>

          </div>
              </div>
              <!-- dfvbfu -->

           </div>
          </div>
        </div>
      </div>
    </div>

           